.modal-content
	.modal-header.dialog-header-confirm
		button.close(type='button', ng-click='no()') &times;
		h4.modal-title
			span.glyphicon.glyphicon-check
			|  {{'LAVAMAIL.CONTACTS.TITLE_IMPORT_CONTACTS' | translate}}
	.modal-body(ng-show="state == 'select'") {{'LAVAMAIL.CONTACTS.LB_IMPORT_CONTACTS_DETAILS' | translate}}
	.modal-body(ng-show="state == 'importing' || state == 'finished'")
		img(src="/img/loader.svg", ng-show="state != 'finished'")
		div {{processed}} from {{total}}
		div {{errors}} errors
	.modal-footer(ng-show="state == 'select'")
		button.btn.btn-default(type='button', open-file="importGmail(data)") {{'LAVAMAIL.CONTACTS.LB_IMPORT_CONTACTS_GMAIL' | translate}}
	.modal-footer(ng-show="state == 'finished'")
		button.btn.btn-default(type='button', ng-click='ok()') {{'LAVAMAIL.CONTACTS.LB_IMPORT_OK' | translate}}