.modal-content
	.modal-header.dialog-header-confirm.ng-scope
		button.close(type='button', ng-click='no()') &times;
		h4.modal-title.ng-binding
			span.glyphicon.glyphicon-check
			|  {{'LAVAMAIL.SETTINGS.SECURITY.TITLE_CONFIRM' | translate}}
	.modal-body.ng-binding.ng-scope {{'LAVAMAIL.SETTINGS.SECURITY.LB_CONFIRM_LS_DISABLE' | translate}}
	.modal-footer.ng-scope
		button.btn.btn-default.ng-binding(type='button', ng-click='yes()') {{'LAVAMAIL.SETTINGS.SECURITY.LB_CONFIRM_LS_DISABLE_YES' | translate}}
		button.btn.btn-primary.ng-binding(type='button', ng-click='no()') {{'LAVAMAIL.SETTINGS.SECURITY.LB_CONFIRM_LS_DISABLE_NO' | translate}}