.cell.label
	label #{defs.label}:
.cell.fields
	ui-select(multiple="", theme="bootstrap", style="width: 100%;", title="{{'MAIN.COMPOSE.TITLE_PERSON' | translate}}",
		tagging="tagTransform", tagging-tokens="tagginTokens", reset-search-input="true", ng-model="#{defs.model}")
		ui-select-match(placeholder="{{'MAIN.COMPOSE.PLC_SELECT_PERSON' | translate}}", ng-class="$item.name")
			| {{$item.getDisplayName()}} &#60;{{$item.email}}&#62; ({{$item.label}} )
			span(class="icon-lock {{$item.secureClass()}}")
		ui-select-choices(repeat="person in people")
			div(ng-show="person.isTag", ng-bind-html="person.getDisplayName() + ' ' + $select.taggingLabel | highlight: $select.search")
			div(ng-show="!person.isTag", ng-bind-html="person.getDisplayName() | highlight: $select.search")
			small
				| {{person.label}} {{'MAIN.COMPOSE.LB_EMAIL' | translate}}: {{person.email}}
				span(class="icon-lock {{person.secureClass()}}")
	span.icon-close.pull-right(ng-click="#{defs.click}")