br
br
p.text-center
	a(href="https://lavaboom.com", target="_blank")
		strong {{'MAIN.SETTINGS.PROFILE.LB_SIGNATURE_LN1' | translate}}
		br
		| {{'MAIN.SETTINGS.PROFILE.LB_SIGNATURE_LN2' | translate}}