div.snap
	span {{'LAVAMAIL.INBOX.CORRUPTED_EMAIL' | translate}}
	a(href="#", ng-click="openEmail(originalEmail, isHtml)") {{'LAVAMAIL.INBOX.CORRUPTED_EMAIL_OPEN' | translate}}
	| {{'LAVAMAIL.INBOX.CORRUPTED_EMAIL_OR' | translate}}
	a(href="#", ng-click="downloadEmail(originalEmail, originalEmailName, isHtml)") {{'LAVAMAIL.INBOX.CORRUPTED_EMAIL_DOWNLOAD' | translate}}