span.dropdown(dropdown="", is-open="isOpen")
	ul.dropdown-menu(role="menu")
		li
			a {{'CONTEXT_MENU.EMAIL.LB_ADD_CONTACT' | translate}}
		li
			a(ui-sref=".popup.compose({to: email})") {{'CONTEXT_MENU.EMAIL.LB_REPLY' | translate}}