div.snap
	span {{'INBOX.CORRUPTED_EMAIL' | translate}}
	a(href="#", ng-click="openEmail(originalEmail, isHtml)") {{'INBOX.CORRUPTED_EMAIL_OPEN' | translate}}
	| {{'INBOX.CORRUPTED_EMAIL_OR' | translate}}
	a(href="#", ng-click="downloadEmail(originalEmail, originalEmailName, isHtml)") {{'INBOX.CORRUPTED_EMAIL_DOWNLOAD' | translate}}