#settings-list.list-pane.ng-cloak(ng-controller="CtrlSettingsList")
	.filters.row.no-gutter.lava-icon-row
		label.search-icon.col-xs-3(for='top-search')
			span.icon-search
		input#top-search.search.col-xs-13(placeholder='Search Emails')
		.lava-icon-wrapper.col-xs-8
			a(href='#')
				span.icon-arrow-down
			a(href='#')
				span.icon-star
			a(href='#')
				span.icon-ban
			a(href='#')
				span.icon-trash
	.list-group-wrapper.list-group-icons
		ul.list-group
			li.list-group-item(ui-sref-active='active')
				a(ui-sref='main.settings.general')
					i.icon.icon-preferences
					span {{'MAIN.SETTINGS.MENU.GENERAL' | translate}}
			li.list-group-item(ui-sref-active='active')
				a(ui-sref='main.settings.profile')
					i.icon.icon-profile
					span {{'MAIN.SETTINGS.MENU.PROFILE' | translate}}
			li.list-group-item(ui-sref-active='active')
				a(ui-sref='main.settings.security')
					i.icon.icon-key
					span {{'MAIN.SETTINGS.MENU.KEYS' | translate}}
			li.list-group-item(ui-sref-active='active')
				a(ui-sref='main.settings.plan')
					i.icon.icon-lavaboom
					span {{'MAIN.SETTINGS.MENU.SUBSCRIPTION' | translate}}