#settings-list.list-pane.ng-cloak(ng-controller="CtrlSettingsList")
	.filters.row.no-gutter.lava-icon-row
		| 
	.list-group-wrapper.list-group-icons
		ul.list-group
			li.list-group-item(ui-sref-active='active')
				a(ui-sref='main.settings.general')
					i.icon.icon-preferences
					span {{'MAIN.SETTINGS.MENU.GENERAL' | translate}}
			li.list-group-item(ui-sref-active='active')
				a(ui-sref='main.settings.profile')
					i.icon.icon-profile
					span {{'MAIN.SETTINGS.MENU.PROFILE' | translate}}
			li.list-group-item(ui-sref-active='active')
				a(ui-sref='main.settings.security')
					i.icon.icon-key
					span {{'MAIN.SETTINGS.MENU.KEYS' | translate}}
			li.list-group-item(ui-sref-active='active')
				a(ui-sref='main.settings.plan')
					i.icon.icon-lavaboom
					span {{'MAIN.SETTINGS.MENU.SUBSCRIPTION' | translate}}
			//- li.list-group-item
			//- 	div
			//- 		.btn-group(dropdown="", is-open="status.isopen")
			//- 			button.btn.btn-primary.dropdown-toggle(type="button", dropdown-toggle="", ng-disabled="disabled")
			//- 				| Button dropdown
			//- 				span.caret
			//- 			ul.dropdown-menu(role="menu")
			//- 				li
			//- 					a(href="#") Action
			//- 				li
			//- 					a(href="#") Another action
			//- 				li
			//- 					a(href="#") Something else here
			//- 				li.divider
			//- 				li
			//- 					a(href="#") Separated link
