.row.settings-panel.ng-cloak(ng-controller="CtrlSettingsPlan")
	form.settings.col-xs-22.col-xs-offset-1.col-sm-20.col-sm-offset-2.col-md-12.col-md-offset-6.col-xs-22.col-xs-offset-1
		.form-wrap(ng-repeat="name in planList", title="{{plans[name].title}}")
			h4 {{plans[name].TITLE}}
			.price-tag(ng-show="name == currentPlanName")
				span.text {{plans[name].LB_TAG}}
				span.caret
			ul.list-group.suppress-borders
				li.list-group-item(ng-repeat="item in plans[name].LB_ITEMS") {{item}}