.row.settings-panel.ng-cloak(ng-controller="CtrlSettingsPersonal")
	form.settings.col-xs-12.col-xs-offset-6
		//- h4 Picture
		//- .row.settings-row
		//- 	.col-xs-7
		//- 		img.img-responsive(src='img/avatar.svg')
		//- 	.col-xs-17
		//- 		p.profile-description.text-muted
		//- 			| Your picture is only shown in mails to recipents in your contacts. It‘s only purpose is to make your messages more personal. It is not used for anything else.
		h4 {{'MAIN.SETTINGS.PROFILE.TITLE_NAME' | translate}}
		ul.list-group
			li.list-group-item
				.text-control
					label {{'MAIN.SETTINGS.PROFILE.LB_USERNAME' | translate}}
					input.field-icon.form-control(disabled='', ng-model="name")
					span.icon-lock
			li.list-group-item
				.text-control
					label {{'MAIN.SETTINGS.PROFILE.LB_FIRST_NAME' | translate}}
					input.field-icon.form-control(ng-model="settings.firstName")
					span.icon-edit
			li.list-group-item
				.text-control
					label {{'MAIN.SETTINGS.PROFILE.LB_LAST_NAME' | translate}}
					input.field-icon.icon-edit.form-control(ng-model="settings.lastName")
					span.icon-edit
			li.list-group-item
				.text-control
					label {{'MAIN.SETTINGS.PROFILE.LB_DISPLAY_NAME' | translate}}
					input.field-icon.icon-edit.form-control(ng-model="settings.displayName")
					span.icon-edit
		h4 {{'MAIN.SETTINGS.PROFILE.TITLE_SIGNATURE' | translate}}
		ul.list-group
			li.list-group-item
				label {{'MAIN.SETTINGS.PROFILE.LB_SIGNATURE_ENABLED' | translate}}
				.control
					label.switch
						input(type='checkbox', ng-model="settings.isSignatureEnabled")
						i
			li.list-group-item
				.text-control
					.signature
						div(text-angular="", ng-model="settings.signatureHtml")
					span.icon-edit
		h4 {{'MAIN.SETTINGS.PROFILE.TITLE_NEWSLETTER' | translate}}
		ul.list-group
			li.list-group-item
				label {{'MAIN.SETTINGS.PROFILE.LB_SEND_ME_NEWS' | translate}}
				.control
					label.switch
						input(type='checkbox', ng-model="settings.isSubscribedToNews")
						i
		br
		ul.list-group(ng-show="status")
			li.list-group-item
				label(ng-bind="status")