.row.settings-panel.ng-cloak
	form.settings.col-xs-12.col-xs-offset-6
		.form-wrap
			h4 Lavaboom (Basic)
			.price-tag
				span.text FREE
				span.caret
			ul.list-group.suppress-borders
				li.list-group-item
					| 1,000MB of Space
					br
					| 		    		Super-strong PGP-Encryptionx
					br
					| 		    		Zero Knowledge Data Handling
					br
					| 		    		Slick Web-App
					hr
					| 		    		This is your current plan
					span.icon.icon-tick.pull-right.icon-circle
					br
