.row.settings-panel
	form.settings.col-xs-12.col-xs-offset-6
		.form-wrap
			h4 Password
			ul.list-group
				li.list-group-item
					.text-control
						label Account Password
						input.form-control(type='password', disabled='', value='piggyslasher')
				li.list-group-item
					.text-control
						label New Password
						input.form-control(type='password', value='')
				li.list-group-item
					.text-control
						label Confirm Password
						input.form-control(type='password', value='')
				li.list-group-item
					.text-control
						label Passphrase
						input.form-control(value='Standard Level 5')
			h4
				| Key Pair for
				span.invert.serif ˝
				| felixvonlooz@lavaboom.com
				span.serif ˝
			ul.list-group
				li.list-group-item
					.text-control
						label Key ID
						input.form-control(type='text', disabled='', value='piggyslasher')
				li.list-group-item
					.text-control
						label Fingerprint
						textarea.form-control.disable-styles(resizable='false', rows='3', disabled='') b015b4a4a0b298f40b3b4c3281a262740fd04a14976ffe340ece4c459b101eb4
				li.list-group-item
					.text-control
						label Creation Date
						input.form-control(type='text', disabled='', value='Oct. 21, 2015')
				li.list-group-item
					.text-control
						label Passphrase
						button.form-control(type='button')
							span.icon-arrow-down