<div class="row settings-panel">
		<form class="settings col-xs-12 col-xs-offset-6">
		    <h4>Picture</h4>
		    <div class="row settings-row">
		    	<div class="col-xs-7">
		    		<img src="img/avatar.svg" class="img-responsive"/>
		    	</div>
		    	<div class="col-xs-17">
		    		<p class="profile-description text-muted">Your picture is only shown in mails to recipents in your contacts. It‘s only purpose is to make your messages more personal. It is not used for anything else.</p>
		    	</div>
		    </div>
		    <h4>Name</h4>
		    <ul class="list-group">
		    	<li class="list-group-item">
		    		<div class="text-control">
		    			<label>Username</label>
		    			<input class="icon-field form-control" disabled="" value="piggyslasher"/>
		    			<span class="icon-lock"></span>
		    		</div>
		    	</li>
		    	<li class="list-group-item">
		    		<div class="text-control">
		    			<label>First Name</label>
		    			<input class="icon-field form-control" value="Vikram"/>
		    			<span class="icon-edit"></span>
		    		</div>
		    	</li>
		    	<li class="list-group-item">
		    		<div class="text-control">
		    			<label>Surname</label>
		    			<input class="icon-field icon-edit form-control" value="Ramanujam"/>
		    			<span class="icon-edit"></span>
		    		</div>
		    	</li>
		    </ul>
		    <h4>Signature</h4>
		    <ul class="list-group">
		    	<li class="list-group-item">
		    		<label>Signature Enabled</label>
		    		<div class="control">
			    		<label class="switch"><input type="checkbox" checked><i></i></label>
					</div>
		    	</li>
		    	<li class="list-group-item">
		    		<div class="dropdown-control">
		    			<label>Lavaboom (Standard)</label>
		    			<ui-select ng-model="items.selected" search-enabled="false">
							<ui-select-match>{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat='item in [{name: "day/month/year"}, {name:"month/date/year"}, {name:"year/month/date"}]'>
							  <span ng-click="item.selected=item" ng-bind-html="item.name"></span>
							</ui-select-choices>
						</ui-select>
		    		</div>
		    	</li>
		    	<li class="list-group-item">
		    		<div class="text-control">
		    			<div class="signature">
		    				Felix von Looz<br>
		    				Head of Design, Lavaboom<br>
		    				fvl@lavaboom.com<br>
		    				<img src="img/Lavaboom-logo-full.svg"/><br>
		    				P.s. Still reading? Hurry and get your secure email at lavaboom.com
		    			</div>
		    			<span class="icon-edit"></span>
		    		</div>
		    	</li>
		    </ul>
		    <h4>Newsletter</h4>
		    <ul class="list-group">
		    	<li class="list-group-item">
		    		<label>Send me News about Lavaboom</label>
		    		<div class="control">
			    		<label class="switch"><input type="checkbox"><i></i></label>
					</div>
		    	</li>
		    </ul>
		</form>

	</div>