form.ng-cloak(name="__form", ng-class="{'errors': currentErrorMessage}", ng-submit="__form.$valid && logIn()", novalidate)
	img.login-logo(src="img/Lavaboom-logo.svg")
	p.lead {{'LOGIN.SIGNUP.LOGIN' | translate}}

	div.alert.alert-danger(ng-show="currentErrorMessage", ng-bind="currentErrorMessage")

	div.form-group
		input.form-control.input-lg(type='text', auto-focus="true", name="email", ng-model='form.username', placeholder="{{'GLOBAL.PLC_USERNAME_OR_EMAIL' | translate}}", required)
		span.alert.alert-danger(ng-show="__form.$submitted", ng-messages="__form.email.$error", ng-messages-include="partials/validationMessages.html")

	div.form-group
		input.form-control.input-lg(type='password', name="password", ng-model='form.password', placeholder="{{'GLOBAL.PLC_PASSWORD' | translate}}", required)
		span.alert.alert-danger(ng-show="__form.$submitted", ng-messages="__form.password.$error", ng-messages-include="partials/validationMessages.html")

	.checkbox
		input#check1(type='checkbox', name="check1", ng-model="form.isRemember")
		label(for='check1') Keep me logged in
	.checkbox
		input#check2(type='checkbox', name="check2", ng-model="form.isPrivateComputer")
		label(for='check2') This is private computer

	footer
		button.btn.btn-block.btn-lg.btn-primary(type="submit", ng-disabled="isProcessing") {{'LOGIN.AUTH.BTN_GO_TO_MY_INBOX' | translate}}
	p.text-center
		a(ui-sref="invite") {{'LOGIN.AUTH.BTN_NO_ACCOUNT_YET' | translate}}
