form
	img.login-logo(src="img/Lavaboom-logo.svg")
	p.lead(ng-bind="'LOGIN.SIGNUP.LOGIN' | translate")
	span.error(ng-bind="currentErrorMessage")
	div.form-group
		input.form-control.input-lg(type='text', ng-model='form.username', placeholder="username or email address", required)

	div.form-group
		input.form-control.input-lg(type='password', ng-model='form.password', placeholder="password", required)

	.checkbox
		input#check1(type='checkbox', checked='', ng-model="form.isRemember")
		label(for='check1') Keep me logged in

	footer
		button.btn.btn-block.btn-lg.btn-primary(ng-click='logIn()', ng-disabled="isProcessing", ng-bind="'LOGIN.AUTH.GO_TO_MY_INBOX' | translate")
	p.text-center
		a(href='#', ui-sref="invite") No Account Yet? Signup Here!
