form.ng-cloak
	img.login-logo(src="img/Lavaboom-logo.svg")
	p.lead {{'LOGIN.SIGNUP.LOGIN' | translate}}
	div.alert.alert-danger(ng-if="currentErrorMessage", ng-bind="currentErrorMessage")
	div.form-group
		input.form-control.input-lg(type='text', ng-model='form.username', placeholder="{{'GLOBAL.PLC_USERNAME_OR_EMAIL' | translate}}", required)

	div.form-group
		input.form-control.input-lg(type='password', ng-model='form.password', placeholder="{{'GLOBAL.PLC_PASSWORD' | translate}}", required)

	.checkbox
		input#check1(type='checkbox', name="check1", ng-model="form.isRemember")
		label(for='check1') Keep me logged in
	.checkbox
		input#check1(type='checkbox', name="check2", ng-model="form.isPrivateComputer")
		label(for='check2') This is private computer

	footer
		button.btn.btn-block.btn-lg.btn-primary(ng-click='logIn()', ng-disabled="isProcessing") {{'LOGIN.AUTH.BTN_GO_TO_MY_INBOX' | translate}}
	p.text-center
		a(href='#', ui-sref="invite") {{'LOGIN.AUTH.BTN_NO_ACCOUNT_YET' | translate}}
