form
	img.login-logo(src="img/Lavaboom-logo.svg")
	p.lead Log In
	span.error(ng-bind="errorMessage")
	div.form-group
		input.form-control.input-lg(type='text', ng-model='auth.username', placeholder="username or email address", required)

	div.form-group
		input.form-control.input-lg(type='password', ng-model='auth.password', placeholder="password", required)

	p
		label.switch
			input(type='checkbox', ng-model="auth.isRemember")
			i
		span Keep me logged in

	footer
		button.btn.btn-block.btn-lg.btn-primary(ng-click='logIn()', ng-disabled="isProcessing") Go to my Inbox
		
	p.text-center
		a(href='#', ui-sref="invite") No Account Yet? Signup Here!
