form.steps-form.ng-cloak(ng-class="{'errors': currentErrorMessage}")
	p.lead.pack {{'LOGIN.CHOOSE_PASSWORD_INTRO.TITLE' | translate}}

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread
		span.icon-unread

	div.login-alert.alert
		header
			h1 {{'LOGIN.CHOOSE_PASSWORD_INTRO.LB_WARNING_TITLE' | translate}}
		p.big.xtra {{'LOGIN.CHOOSE_PASSWORD_INTRO.LB_WARNING1' | translate}}
		p.big {{'LOGIN.CHOOSE_PASSWORD_INTRO.LB_WARNING2' | translate}}
		
	footer
		button.btn.btn-block.btn-lg.btn-primary(ui-sref="choosePassword") {{'LOGIN.CHOOSE_PASSWORD_INTRO.BTN_NEXT' | translate}}