form.steps-form
	p.lead.pack Choose password

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread

	div.login-alert.alert
		h1 Attention
		p.big.xtra Please note that we don't store your passwords on our servers. This makes lavaboom <em>this</em> safe. However, it also means that we cannot reset the password for you, in case you lose it.
		p.big Please memorize the password that you choose now very thoroughly. You might lose your account otherwise.
		
	footer
		button.btn.btn-block.btn-lg.btn-primary(ui-sref="choosePassword") I understand