form(name='updatePass')
	p.lead.pack Choose password

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread

	p We recommend a long password including numbers and sepcial characters. It should still be easy to remember for you.

	div.form-group
		input.form-control.input-lg(type='password', ng-model='invite.password', name='password', placeholder='Choose password', required)
	div.form-group
		input.form-control.input-lg(type='password', ng-model='invite.passwordConfirm', name='passwordConfirm' placeholder='Retype password', required, match='invite.password')
	div(ng-show='updatePass.passwordConfirm.$error.match') Fields do not match!
	hr.spacer
	
	p Please remember, we can't set your password back for you when you forget it!. So only continue when you have really memorised it!
		
	p
		button.btn.btn-block.btn-lg.btn-primary(type='submit' ng-disabled='updatePass.$invalid' ng-click='updatePassword()') I have memorized it