form.steps-form.ng-cloak(name="updatePass", ng-class="{'errors': currentErrorMessage}")
	p.lead.pack {{'LOGIN.CHOOSE_PASSWORD.TITLE' | translate}}

	div.alert.alert-danger(ng-if="currentErrorMessage", ng-bind="currentErrorMessage")

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread

	div.info
		span.icon-info
		p {{'LOGIN.CHOOSE_PASSWORD.LB_WARNING1' | translate}}

	div.form-group
		input.form-control.input-lg(type="password", ng-model="form.password", name="password", placeholder="{{'GLOBAL.PLC_CHOOSE_PASSWORD' | translate}}", required)
	div.form-group
		input.form-control.input-lg(type="password", ng-model="form.passwordConfirm", name="passwordConfirm", placeholder="{{'GLOBAL.PLC_RETYPE_PASSWORD' | translate}}", required, match="form.password")
	div(ng-show="updatePass.passwordConfirm.$error.match") Fields do not match!
	hr.spacer
	
	div.info
		span.icon-info
		p {{'LOGIN.CHOOSE_PASSWORD.LB_WARNING2' | translate}}
	hr.spacer
	footer
		button.btn.btn-block.btn-lg.btn-primary(type="submit", ng-disabled="updatePass.$invalid", ng-click="updatePassword()") {{'LOGIN.CHOOSE_PASSWORD.BTN_NEXT' | translate}}
