form
	p.lead.pack Choose password

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread

	div.login-alert.alert
		h1 Attention
		p Please note that we don't store your passwords on our servers. This makes lavaboom <em>this</em> safe. Howver, it also means that we cannot reset the password for you, in case you lose it.
		p Please memorize the password that you choose now very thoroughly. You might lose your account otherwise.

	p We recommend a long password including numbers and sepcial characters. It should still be easy to remember for you.
		
	p
		button.btn.btn-block.btn-lg.btn-primary(ui-sref="choosePassword") I have memorized it