form.steps-form(name="details")
	p.lead.pack User Details

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread
		span.icon-unread

	span.error(ng-bind="")
	div.info 
		span.icon-unread
		p We are legally obliged to ask you this information. However, we neither actually use nor verify this data.

	div.form-group
		input.form-control.input-lg(type='text', ng-model='form.firstName', placeholder="First Name", requared, minlength=2)
	div.form-group
		input.form-control.input-lg(type='text', ng-model='form.lastName', placeholder="Last Name", requared, minlength=2)
	br
	div.form-group
		input.form-control.input-lg(type='text', ng-model='form.displayName', placeholder="Display Name", required, minlength=4)

	p.text-center This is the name under which you will appear when sending emails. You can use your real name or a pseudonym to stay anonymous.

	hr.spacer
		
	footer
		button.btn.btn-block.btn-lg.btn-primary(type='submit', ng-disabled='details.$invalid', ng-click='setDetails()') Next Step