form.steps-form(name="details")
	p.lead.pack {{'LOGIN.DETAILS.TITLE' | translate}}

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread
		span.icon-unread

	span.error(ng-bind="")
	div.info 
		span.icon-unread
		p {{'LOGIN.DETAILS.SUB_TITLE' | translate}}

	div.form-group
		input.form-control.input-lg(type='text', ng-model='form.firstName', placeholder="{{'GLOBAL.PLC_FIRST_NAME' | translate}}", requared, minlength=2)
	div.form-group
		input.form-control.input-lg(type='text', ng-model='form.lastName', placeholder="{{'GLOBAL.PLC_LAST_NAME' | translate}}", requared, minlength=2)
	br
	div.form-group
		input.form-control.input-lg(type='text', ng-model='form.displayName', placeholder="{{'GLOBAL.PLC_DISPLAY_NAME' | translate}}", required, minlength=4)

	p.text-center {{'GLOBAL.LB_DISPLAY_NAME' | translate}}

	hr.spacer
		
	footer
		button.btn.btn-block.btn-lg.btn-primary(type='submit', ng-disabled='details.$invalid', ng-click='requestDetailsUpdate()') {{'GLOBAL.NEXT_STEP' | translate}}