form.steps-form
	p.lead.pack Generate your keys

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread

	div.info
		span.icon-info-circle
		p Lavaboom keeps you safe by encrypting your email and data. To do this, we give each other a pair of encryption keys.

	hr.spacer
	
	ul.list-unstyled
		li.table-list
			span.icon-lock-hallow.cell.shadow
			div.cell
				h1.pack Public Key
				p Thus Key is used to encrypt messages coming your way. You can share it with contacts so they can encrpt the messages the messages they would send to you.
		li.table-list
			span.icon-key-solid.cell.shadow
			div.cell
				h1.pack Private Key
				p This Key is used to decrypt your data. It is like a super-safe password. Keep it safe and do not share it with anyone.
	hr.spacer

	footer
		button.btn.btn-block.btn-lg.btn-primary(ui-sref="generatingKeys") Generate my key pair