form
	p.lead.pack Generate your keys

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread

	p Lavaboom keeps you safe by encrypting your email and data. To do this, we give each other a pair of encryption keys.

	hr.spacer
	
	h1.pack Public Key
	p Lavaboom keeps you safe by encrypting your email and data. To do this, we give each other a pair of encryption keys.

	h1.pack Private Key
	p Lavaboom keeps you safe by encrypting your email and data. To do this, we give each other a pair of encryption keys.

	p
		button.btn.btn-block.btn-lg.btn-primary(ui-sref="generatingKeys") Generate my key pair