form.ng-cloak(ng-class="{'errors': currentErrorMessage}")
	img.login-logo(src="img/Lavaboom-logo.svg")

	.progress
		.progress-bar(role='progressbar', aria-valuenow='{{progress}}', aria-valuemin='0', aria-valuemax='100', style='width: {{progress}}%;')

	p.lead(ng-bind="label")
	p.text-center(ng-bind="'LOGIN.GENERATING_KEYS.LB_DO_NOT_CLOSE' | translate")