form
	img.login-logo(src="img/Lavaboom-logo.svg")

	.progress
		.progress-bar(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 40%;')
			span.sr-only 40% Complete

	p.lead Generating your Keys
	p Do not close this window!