form.steps-form.ng-cloak(ng-class="{'errors': currentErrorMessage}")
	p.lead.pack {{'LOGIN.GENERATE_KEYS.TITLE' | translate}}

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread

	div.info
		span.icon-info-circle
		p {{'LOGIN.GENERATE_KEYS.LB_WARNING1' | translate}}

	hr.spacer

	ul.list-unstyled
		li.table-list
			span.icon-lock-hallow.cell.shadow
			div.cell
				h1.pack {{'GLOBAL.LB_PUBLIC_KEY' | translate}}
				p {{'LOGIN.GENERATE_KEYS.LB_WARNING2' | translate}}
		li.table-list
			span.icon-key-solid.cell.shadow
			div.cell
				h1.pack {{'GLOBAL.LB_PRIVATE_KEY' | translate}}
				p {{'LOGIN.GENERATE_KEYS.LB_WARNING3' | translate}}
	hr.spacer

	footer
		button.btn.btn-block.btn-lg.btn-primary(ui-sref="generatingKeys") {{'LOGIN.GENERATE_KEYS.BTN_NEXT' | translate}}