form.ng-cloak(ng-class="{'errors': currentErrorMessage}")
	p.lead {{'LOGIN.IMPORT_KEY.TITLE' | translate}}

	div.login-alert.alert
		p.big.xtra {{'LOGIN.IMPORT_KEY.LB_INFO1' | translate}}
		p.big.xtra {{'LOGIN.IMPORT_KEY.LB_INFO2' | translate}}
		p.big.xtra.pack {{'LOGIN.IMPORT_KEY.LB_INFO3' | translate}}
	footer
		button.btn.btn-block.btn-lg.btn-primary {{'LOGIN.IMPORT_KEY.BTN_UPLOAD_KEY' | translate}}