form
	img.login-logo(src="img/Lavaboom-logo.svg")
	p.lead Have you got an invite already?
		
	p
		a.btn.btn-block.btn-lg.btn-default(ui-sref="secureUsername") No, send me an invite
	p
		a.btn.btn-block.btn-lg.btn-primary(ui-sref="verifyInvite") Yes, I've got my invite code
