form.steps-form.ng-cloak(ng-class="{'errors': currentErrorMessage}")
	p.lead.pack {{'LOGIN.LAVABOOM_SYNC.TITLE' | translate}}

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread

	p {{'LOGIN.LAVABOOM_SYNC.LB_SYNC1' | translate}}

	hr.blank

	footer
		p
			button.btn.btn-block.btn-lg.btn-primary(ng-click="next(true)", ng-autodisable) {{'LOGIN.LAVABOOM_SYNC.LB_ENABLE_LB_SYNC' | translate}}
		p
			button.btn.btn-block.btn-lg.btn-default(ng-click="next()", ng-autodisable) {{'LOGIN.LAVABOOM_SYNC.LB_DONT_ENABLE_LB_SYNC' | translate}}