form.steps-form.ng-cloak(ng-class="{'errors': currentErrorMessage}")
	p.lead.pack {{'LOGIN.LAVABOOM_SYNC.TITLE' | translate}}

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread

	p {{'LOGIN.LAVABOOM_SYNC.LB_SYNC1' | translate}}

	hr.blank
	
	div.info
		span.icon-info-circle
		p {{'LOGIN.LAVABOOM_SYNC.LB_SYNC2' | translate}}

	hr.blank

	.checkbox
		input#check2(type='checkbox', name="enable_sync", ng-model="form.enable_sync")
		label(for='enable_sync') {{'LOGIN.LAVABOOM_SYNC.LB_ENABLE_LB_SYNC' | translate}}

	hr.spacer

	footer
		button.btn.btn-block.btn-lg.btn-primary(ui-sref="backupKey") {{'LOGIN.LAVABOOM_SYNC.BTN_NEXT' | translate}}
