form
	img.login-logo(src="img/Lavaboom-logo.svg")
	p.lead(ng-bind="'LOGIN.SIGNUP.HEADER' | translate")

	p
		a.btn.btn-block.btn-lg.btn-primary(href="#/auth", ui-sref="auth", ng-bind="'LOGIN.SIGNUP.LOGIN' | translate")
		
	p
		a.btn.btn-block.btn-lg.btn-default(href="#/invite", ui-sref="invite", ng-bind="'LOGIN.SIGNUP.SIGNUP' | translate")