form
	img.login-logo(src="img/Lavaboom-logo.svg")
	p.lead Get your own secure email account!

	p
		a.btn.btn-block.btn-lg.btn-primary(href="#/auth", ui-sref="auth") Log In
		
	p
		a.btn.btn-block.btn-lg.btn-default(href="#/invite", ui-sref="invite") Sign Up


	//ul
	//	li
	//		a(href='#', ui-sref="login") login
	//	li
	//		a(href='#', ui-sref="login-signup") login signup
	//	li
	//		a(href='#', ui-sref="secure-your-username") secure your username
	//	li
	//		a(href='#', ui-sref="invite") invite
	//	li
	//		a(href='#', ui-sref="verify-invite-code") verify invite code
	//	li
	//		a(href='#', ui-sref="secure-your-username") secure your username
	//	li
	//		a(href='#', ui-sref="secure-your-username") secure your username
	//	li
	//		a(href='#', ui-sref="secure-your-username") secure your username
	//	li
	//		a(href='#', ui-sref="secure-your-username") secure your username
	//	li
	//		a(href='#', ui-sref="secure-your-username") secure your username
	//	li
	//		a(href='#', ui-sref="secure-your-username") secure your username
	//	li
	//		a(href='#', ui-sref="secure-your-username") secure your username
	//	li
	//		a(href='#', ui-sref="secure-your-username") secure your username
	//	li
	//		a(href='#', ui-sref="secure-your-username") secure your username