froms.steps-form
	p.lead.pack Your Plan

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread
		span.icon-unread
		span.icon-unread

	p.lead this page is under progress

	footer
		button.btn.btn-block.btn-lg.btn-primary(ui-sref="details") I'll take this