form.steps-form.ng-cloak(ng-class="{'errors': currentErrorMessage}")
	p.lead.pack {{'LOGIN.PLAN.TITLE' | translate}}

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread
		span.icon-unread
		span.icon-unread

	div.login-alert.alert
		header
			h1 {{'LOGIN.PLAN.PLAN1_TITLE' | translate}}
		ul.big.list-unstyled
			li
				p
					strong {{'LOGIN.PLAN.PLAN1_OPT1_VALUE' | translate}}
					|  {{'LOGIN.PLAN.PLAN1_OPT1_KEY' | translate}}
			li
				p
					strong {{'LOGIN.PLAN.PLAN1_OPT2_VALUE' | translate}}
					|  {{'LOGIN.PLAN.PLAN1_OPT2_KEY' | translate}}
			li
				p
					strong {{'LOGIN.PLAN.PLAN1_OPT3_VALUE' | translate}}
					|  {{'LOGIN.PLAN.PLAN1_OPT3_KEY' | translate}}
			li
				p
					strong {{'LOGIN.PLAN.PLAN1_OPT4_VALUE' | translate}}
					|  {{'LOGIN.PLAN.PLAN1_OPT4_KEY' | translate}}
		hr
		p.text-center.big
			strong {{'LOGIN.PLAN.PLAN1_OPT5_VALUE' | translate}}
			|  {{'LOGIN.PLAN.PLAN1_OPT5_KEY' | translate}}
	hr.blank
	footer
		button.btn.btn-block.btn-lg.btn-primary(type='submit', ng-click="selectPlan()") {{'LOGIN.PLAN.BTN_SELECT' | translate}}