form.steps-form
	p.lead.pack Your Plan

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread
		span.icon-unread
		span.icon-unread

	div.login-alert.alert
		header
			h1 Beta
		ul.big.list-unstyled
			li
				p <strong>1 GB</strong> Secure Email Storage
			li
				p <strong>Two Factor</strong> Authentication
			li
				p <strong>Secure</secure> Contacts
			li
				p <strong>Additional</strong> 500 MB free forever
		hr
		p.text-center.big <strong>Free</strong> forever!

	fo
		button.btn.btn-block.btn-lg.btn-primary(ui-sref="details") I'll take this