form
	h1 Congrats!<br>Your username has been reserved.

	hr.spacer

	p.text-center.big We have just sent and email to
	p.big.highlight.text-center felix.vlooz@gmail.com

	hr.spacer.large
		
	p.text-center Follow the link in the invite to complete Sign-Up. If no invite email arrives in your Inbox, please check your Spam folder
	
	footer
		button.btn.btn-block.btn-lg.btn-primary(ui-sref="generate-your-keys") OK