form.ng-cloak(name="secure")
	h1 {{'LOGIN.SECURE_USERNAME.TITLE' | translate}}
	span.error(ng-bind="currentErrorMessage")
	p.text-center
		a(ui-sref="verifyInvite") {{'LOGIN.SECURE_USERNAME.LNK_INVITE_QUESTION' | translate}}
	div.form-group
		div.input-group.suffix.clearfix
			input.form-control.input-lg(type='text', ng-model='form.username', placeholder="{{'GLOBAL.USERNAME' | translate}}", required, minlength="2")
			span.input-group-addon @lavaboom.com

	div.form-group.clearfix
		input.form-control.input-lg(type='email', ng-model='form.email', value='', placeholder="{{'GLOBAL.CURRENT_EMAIL' | translate}}", required, minlength="4")

	hr.spacer.large

	.checkbox
		input#check1(type='checkbox', name="check1" ng-model="form.isNews")
		label(for='check1') {{'LOGIN.SECURE_USERNAME.LB_NEWS' | translate}}

	footer
		button.btn.btn-block.btn-lg.btn-primary(ng-click='requestSecure()', ng-disabled="secure.$invalid || isProcessing") {{'LOGIN.SECURE_USERNAME.BTN_SECURE' | translate}}