form
	p.lead Secure your own Lavaboom username
	p.text-center
		a(href='#') Got an invite mail already?
	div.form-group
		div.input-group.suffix.clearfix
			input.form-control.input-lg(type='text', ng-model='signUpSecure.username', placeholder="username")
			span.input-group-addon @lavaboom.com

	div.form-group.clearfix
		input.form-control.input-lg(type='text', ng-model='signUpSecure.password', value='', placeholder="your current email address")

	hr.spacer

	p
		label.switch
			input(type='checkbox', checked='')
			i
		span &nbsp; &nbsp; I want to be the first to hear about Lavaboom news, send me the latest from Lava HQ

	p
		button.btn.btn-block.btn-lg.btn-primary(ng-click='secure()') Secure your username
		
	