<form class="">

        <h1>Secure your own Lavaboom username</h1>
        <p class="text-center">
            <a href="#/">Got an invite mail already</a>
        </p>
        <p>
            <input type="text" class="form-control" ng-model="signUpSecure.username">
        </p>
        <p>
            <input type="email" class="form-control" placeholder="your current email address" ng-model="signUpSecure.email">
        </p>
          <p><input type="checkbox">
            <label>I wan't</label>
        </p>
        <p>
            <button class="btn btn-block btn-lg btn-primary" ng-click="secure()">Secure your username</button>
        </p>

</form>
