<form class="">

        <h1>Verify Invite code</h1>
        <!--<p class="text-center">-->
            <!--<a href="#/">Got an invite mail already</a>-->
        <!--</p>-->
        <p>
            <input type="text" placeholder="your username" class="form-control" ng-model="invite.username">
        </p>
        <p>
            <input type="text" class="form-control" placeholder="please paste invite code here" ng-model="invite.token">
        </p>
        <p>
            <input type="password" class="form-control" placeholder="password" ng-model="invite.password">
        </p>
        <p><input type="checkbox">
            <label>I wan't</label>
        </p>
        <p>           By signing...
        </p>
        <p >
            <button class="btn btn-block btn-lg btn-primary" ng-click="send()">Next step</button>
        </p>

</form>
