form.steps-form.ng-cloak(name="__form", ng-class="{'errors': currentErrorMessage}", ng-submit="__form.$valid && requestVerify()", novalidate, ng-autodisable)
	p.lead.pack {{'LOGIN.VERIFY_INVITE.TITLE' | translate}}

	p.text-center.steps.large
		span.icon-unread.active
		span.icon-unread
		span.icon-unread
		span.icon-unread
		span.icon-unread
		span.icon-unread
		span.icon-unread

	div.alert.alert-danger(ng-show="currentErrorMessage", ng-bind="currentErrorMessage")

	div.form-group
		input.form-control.input-lg(type='text', name="username", ng-model='form.username', placeholder="{{'GLOBAL.USERNAME' | translate}}",
			focus="!isUsernameDefined", minlength=2, required)
		span.alert.alert-danger(ng-show="__form.$submitted", ng-messages="__form.username.$error", ng-messages-include="partials/validationMessages.html")
	div.form-group
		input.form-control.input-lg(type='text', name="token", ng-model='form.token', placeholder="{{'LOGIN.VERIFY_INVITE.PLC_INVITE_CODE' | translate}}",
			focus="isUsernameDefined", minlength=8, required)
		span.alert.alert-danger(ng-show="__form.$submitted", ng-messages="__form.token.$error", ng-messages-include="partials/validationMessages.html")

	hr.spacer

	.checkbox
		input#check1(type='checkbox', name="check1", ng-model='form.isNews')
		label(for='check1') {{'LOGIN.VERIFY_INVITE.LB_NEWS' | translate}}

	p.text-center 
		span {{'LOGIN.VERIFY_INVITE.LB_TOS' | translate}}
		a(href="https://lavaboom.com/terms", target="_blank") {{'LOGIN.VERIFY_INVITE.LNK_TOS' | translate}}
		| {{'LOGIN.VERIFY_INVITE.AND_THE' | translate}}
		a(href="https://lavaboom.com/privacy", target="_blank") {{'LOGIN.VERIFY_INVITE.LINK_PRIVACY' | translate}}

	footer
		button.btn.btn-block.btn-lg.btn-primary(type='submit') {{'GLOBAL.NEXT_STEP' | translate}}