form.steps-form.ng-cloak(name="__form", ng-class="{'errors': currentErrorMessage}", ng-submit="__form.$valid && updatePassword()", novalidate, ng-autodisable)
	p.lead.pack {{'LAVALOGIN.CHOOSE_PASSWORD.TITLE' | translate}}

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread
		span.icon-unread

	div.alert.alert-danger(ng-show="currentErrorMessage", ng-bind="currentErrorMessage")

	div.info
		span.icon-info-circle
		p {{'LAVALOGIN.CHOOSE_PASSWORD.LB_WARNING1' | translate}}

	div.form-group
		input.form-control.input-lg(type="password", name="password", ng-model="form.password", placeholder="{{'GLOBAL.PLC_CHOOSE_PASSWORD' | translate}}", focus="true", required, minlength="8", max-repeating="2", dictionary="/vendor/pw.dict", min-levenshtein-distance="3")
		span.alert.alert-danger(ng-show="__form.$submitted", ng-messages="__form.password.$error", ng-messages-include="LavaLogin/misc/validationMessages")
			span(ng-message="dictionary") {{'VALIDATION.LB_TOO_SIMPLE' | translate}}
			span(ng-message="maxRepeating") {{'VALIDATION.LB_TOO_MANY_REPEATING_CHARACTERS' | translate}}

	div.form-group
		input.form-control.input-lg(type="password", name="passwordConfirm", ng-model="form.passwordConfirm", placeholder="{{'GLOBAL.PLC_RETYPE_PASSWORD' | translate}}", required, match="form.password")
		span.alert.alert-danger(ng-show="__form.$submitted", ng-messages="__form.passwordConfirm.$error", ng-messages-include="LavaLogin/misc/validationMessages")

	.checkbox
		input#check1(type='checkbox', name="check1", ng-model="form.isPrivateComputer")
		label(for='check1') {{'LAVALOGIN.CHOOSE_PASSWORD.LB_PRIVATE_PC' | translate}}

	hr.spacer

	div.info
		span.icon-info-circle
		p {{'LAVALOGIN.CHOOSE_PASSWORD.LB_WARNING2' | translate}}
	footer
		button.btn.btn-block.btn-lg.btn-primary(type="submit") {{'LAVALOGIN.CHOOSE_PASSWORD.BTN_NEXT' | translate}}