form.steps-form.ng-cloak(name="__form", ng-class="{'errors': currentErrorMessage}", ng-submit="__form.$valid && requestDetailsUpdate()", novalidate, ng-autodisable)
	p.lead.pack {{'LAVALOGIN.DETAILS.TITLE' | translate}}

	p.text-center.steps
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread.active
		span.icon-unread
		span.icon-unread
		span.icon-unread
		span.icon-unread

	div.alert.alert-danger(ng-show="currentErrorMessage", ng-bind="currentErrorMessage")
	div.info 
		span.icon-info-circle
		p {{'LAVALOGIN.DETAILS.SUB_TITLE' | translate}}

	div.form-group
		input.form-control.input-lg(type='text', name="firstName", ng-model='form.firstName', placeholder="{{'GLOBAL.PLC_FIRST_NAME' | translate}}",
			focus="true", requared, minlength=2)
		span.alert.alert-danger(ng-show="__form.$submitted", ng-messages="__form.firstName.$error", ng-messages-include="LavaLogin/misc/validationMessages")
	div.form-group
		input.form-control.input-lg(type='text', name="lastName", ng-model='form.lastName', placeholder="{{'GLOBAL.PLC_LAST_NAME' | translate}}", requared, minlength=2)
		span.alert.alert-danger(ng-show="__form.$submitted", ng-messages="__form.lastName.$error", ng-messages-include="LavaLogin/misc/validationMessages")
	br
	div.form-group
		input.form-control.input-lg(type='text', name="displayName", ng-model='form.displayName', placeholder="{{'GLOBAL.PLC_DISPLAY_NAME' | translate}}", required, minlength=4)
		span.alert.alert-danger(ng-show="__form.$submitted", ng-messages="__form.displayName.$error", ng-messages-include="LavaLogin/misc/validationMessages")

	p.text-center {{'GLOBAL.LB_DISPLAY_NAME' | translate}}

	hr.spacer
		
	footer
		button.btn.btn-block.btn-lg.btn-primary(type='submit') {{'GLOBAL.NEXT_STEP' | translate}}