form.ng-cloak(ng-class="{'errors': currentErrorMessage}")
	img.login-logo(src="#{resolveAsset('/img/Lavaboom-logo-no-shadow.svg')}")
	p.lead {{'LOGIN.INVITE.TITLE' | translate}}
		
	p
		a.btn.btn-block.btn-lg.btn-default(ui-sref="secureUsername") {{'LOGIN.INVITE.BTN_SEND_ME_INVITE' | translate}}
	p
		a.btn.btn-block.btn-lg.btn-primary(ui-sref="verifyInvite") {{'LOGIN.INVITE.BTN_I_HAVE_INVITE_CODE' | translate}}