form.ng-cloak(ng-class="{'errors': currentErrorMessage}")
	img.login-logo(src="#{resolveAsset('/img/Lavaboom-logo-no-shadow.svg')}")
	p.lead {{'LAVALOGIN.SIGNUP.HEADER' | translate}}

	p
		a.btn.btn-block.btn-lg.btn-primary(ui-sref="auth") {{'LAVALOGIN.SIGNUP.LOGIN' | translate}}
		
	p
		a.btn.btn-block.btn-lg.btn-default(ui-sref="invite") {{'LAVALOGIN.SIGNUP.SIGNUP' | translate}}