form.ng-cloak(ng-class="{'errors': currentErrorMessage}")
	h1 {{'LAVALOGIN.SECURED.TITLE' | translate}}<br>{{'LAVALOGIN.SECURED.SUB_TITLE' | translate}}

	hr.spacer

	p.text-center.big {{'LAVALOGIN.SECURED.LB_EMAIL_SENT' | translate}}
	p.big.highlight.text-center(ng-bind="email")

	hr.spacer.large
		
	p.text-center {{'LAVALOGIN.SECURED.LB_COMPLETE' | translate}}
	
	footer
		button.btn.btn-block.btn-lg.btn-primary(ui-sref="verifyInvite") {{'LAVALOGIN.SECURED.BTN_COMPLETE' | translate}}