$icon-format-list-bulleted: "\e602";
$icon-align-justify: "\e619";
$icon-align-left: "\e61a";
$icon-align-right: "\e61b";
$icon-download: "\e61c";
$icon-add-contact: "\e601";
$icon-archive: "\e607";
$icon-contacts: "\e608";
$icon-later: "\e609";
$icon-empty-trash: "\e60a";
$icon-put-back: "\e60b";
$icon-public-key-download: "\e60c";
$icon-public-key-send: "\e60d";
$icon-public-key-upload: "\e60e";
$icon-plus-circle: "\e60f";
$icon-cancel: "\e610";
$icon-delete: "\e611";
$icon-edit: "\e612";
$icon-edit-circle: "\e613";
$icon-key-pair-download: "\e614";
$icon-key-pair: "\e615";
$icon-provide: "\e616";
$icon-save: "\e617";
$icon-yes: "\e618";
$icon-format-bold: "\f032";
$icon-format-italic: "\f033";
$icon-format-align-center: "\f037";
$icon-format-list: "\f03a";
$icon-format-dedent: "\f03b";
$icon-format-indent: "\f03c";
$icon-format-list-numbered: "\e603";
$icon-format-quote: "\e604";
$icon-format-underline: "\e605";
$icon-format-photo: "\e606";
$icon-plus: "\2b";
$icon-lock-hallow: "\e600";
$icon-key-solid: "\38";
$icon-info-circle: "\39";
$icon-compose: "\61";
$icon-inbox: "\62";
$icon-draft: "\63";
$icon-outbox: "\64";
$icon-sent: "\65";
$icon-star-outline: "\66";
$icon-star: "\67";
$icon-ban: "\68";
$icon-trash: "\6a";
$icon-head: "\6b";
$icon-cog: "\6c";
$icon-power: "\6d";
$icon-paper-clip: "\6e";
$icon-search: "\6f";
$icon-lock: "\70";
$icon-unlock: "\71";
$icon-unread: "\72";
$icon-close: "\73";
$icon-chevron-down: "\76";
$icon-arrow-right: "\79";
$icon-reply: "\7a";
$icon-reply-all: "\e4";
$icon-arrow-up: "\f6";
$icon-arrow-down: "\fc";
$icon-tag: "\df";
$icon-read: "\32";
$icon-preferences: "\33";
$icon-profile: "\34";
$icon-key: "\35";
$icon-lavaboom: "\36";
