include ./_settingsList
.details-pane(ng-controller="CtrlSettings")
	.filters.row.no-gutter.lava-icon-row
	.filters.row.no-gutter.lava-icon-row(ng-class="'notifications-' + getNotificationsLength(notificationsInfo, notificationsWarning)")
		include ../misc/_notifications
	.main-settings-view.main-panel(ui-view='')