.row.settings-panel.ng-cloak(ng-controller="CtrlSettingsPlan")
	form.settings.col-xs-22.col-xs-offset-1.col-sm-20.col-sm-offset-2.col-md-12.col-md-offset-6.col-xs-22.col-xs-offset-1
		.form-wrap(ng-repeat="name in planList", title="{{plans[name].hoverTitle}}")
			h4 {{plans[name].title}}
			.price-tag(ng-show="plans[name].tag")
				a(href="{{plans[name].tagHref}}", target="_blank", title="{{plans[name].tagTitle}}", ng-show="plans[name].tagIsLink")
					span.text {{plans[name].tag}}
				span.text(ng-show="!plans[name].tagIsLink") {{plans[name].tag}}
				span.caret
			ul.list-group.suppress-borders
				li.list-group-item(ng-repeat="item in plans[name].items", ng-bind-html="item")
				li.list-group-item(ng-show="name == currentPlanName")
					hr
					| {{'LAVAMAIL.SETTINGS.PLAN.LB_CURRENT' | translate}}
					span.icon.icon-tick.pull-right.icon-circle