	// padding-top: @filter-height + 2;
	.filters, .actions{
		background-color: @lava-gray;
		
		position: absolute;
		right: 0;
		left: 0;

		.no-gutter();
		
		.search-icon {
			// width: @mail-list-block-buttons-width;
			height: @filter-height;
			padding: 0 .5rem 0 1rem;
			.icon-search{
				// padding-left: 1.2rem;
				// float: left;
				// font-size: 14px;
				// padding-top: 3px;
			}
		}
		height: @filter-height;
		> *{
			display: block;
		}

		color: @lava-gray-light;

		[class^="icon-"],
		[class*=" icon-"] {
			font-size: 2rem;
			line-height: @filter-height - 0.3rem;
			// color: @lava-gray-light;
		}

		button, label{
			color: @lava-gray-light;
			background: transparent;
			border: 0;
			height: @filter-height;
			&:hover{
				color: @lava-gray-lighter;
			}
			&:active{
				outline: 0;
				box-shadow: 0;
			}
		}
		input{
			background-color: transparent;
			border: 0 none;
			height: @filter-height;
			color: @lava-gray-light;
			border-radius: 0;
			// position: relative;
			outline: none;
			// padding: 0 5px;
			&:active, &:focus{
				box-shadow: inset 0 0 .9rem fadeout(@lava-gray-darkest, .5) !important;
				outline: none;
				border: 0;
			}
			// width: @actions-search-width;
		}

		.form-control[type=text]{
			&:focus{
				box-shadow: inset 0 0 .9rem fadeout(@lava-gray-darkest, .5) !important;
			}

		}


		button{
			background: transparent none;
			border: 0;
			outline: 0;
			
			&:active, &:hover{
				background: transparent none;
				border: 0;
				outline: 0;
			}
		}

		.btn{
			
		}


		.navbar{
			border: 0;
		}

		.navbar-text{
			margin-top: 1.2rem;
			margin-bottom: 1.2rem;
		}

		.btn.btn-default{
			background: transparent none;
			border: 0;
			outline: 0;
			padding: 0 1.2rem;
			color: @lava-gray-light;
			&:active, &:hover, &:focus, &.active, &.open{
				background: transparent none;
				border: 0;
				outline: 0;
				box-shadow: none;
				color: @lava-gray-lighter;
			}

			.transition(.2s);
			
			&:active{
				transform: scale(.9);
			}
		}

		.btn-group.open .dropdown-toggle{
			background: transparent none;
			border: 0;
			outline: 0;
			// padding: 0 inherit;
			box-shadow: none;
			color: @lava-gray-lighter;
		}

		.form-group{
			margin: 0;
		}

		li.spacer{
			padding-left: 2rem;
		}

		.dropdown-menu {
	        display: block;
	        visibility: hidden;
	        transition: all .2s ease;
	        .opacity(0);
	        transform: translateY(-5px);
	        top: @filter-height + 1.1rem;
	        right: -.6rem;
	        color: @dropdown-header-color;

	        p, a, .dropdown-checkbox{
	        	padding: 1rem 1.5rem;
        			[class^="icon-"],
					[class*=" icon-"] {
						// font-size: 1em;
						padding-right: .5rem;
						// color: @lava-gray-light;
					}
	        }

	        .yesno{
	        	width: 100%;
	        	background: @lava-light;
	        	min-width: 25rem;
	        	> *{
	        		width: 50%;
	        		&:not(:first-child){
	        			border-left: .1rem solid @lava-gray-lightest;
	        		}
	        	}
	        }

	        .checkbox{
	        	margin: 0;
	        	color: @lava-gray-lightest;
	        	> * {
	        		color: @lava-gray-lightest;
	        	}
	        }
	        
	        &:after, &:before{
	            transition: .3s;
	            transition-delay: .2s;
	            transition-property: all;
	            content: "";
	            position: absolute;
	        }
	        .dropdown-header{
	            .text-uppercase();
	            .text-muted();
	        }
	    }

	    &.notifications-1 + div {
	    	top: @filter-height * 2;
	    }

	    &.notifications-2 + div {
	    	top: @filter-height * 3;
	    }

	    .open > .dropdown-menu {
	        visibility: visible;
	        .opacity(1);
	        transform: translateY(0px) scale(1);
	        &:before{
	            top: -1rem !important;
	        }
	        &:after{
	            top: -1.2rem !important;
	            border-bottom-color: @dropdown-border;
	        }
	    }

	    .dropdown ul.dropdown-menu:before {
	        
	        border-bottom: 1rem solid @dropdown-bg;
	        border-right: 1rem solid transparent;
	        border-left: 1rem solid transparent;
	        
	        top: -.1rem;
	        right: 1.6rem;
	        z-index: -1;
	    }
	    .dropdown ul.dropdown-menu:after {
	        
	        border-bottom: 1.1rem solid @dropdown-border;
	        border-right: 1.1rem solid transparent;
	        border-left: 1.1rem solid transparent;
	        
	        top: -.1rem;
	        right: 1.5rem;
	        z-index: -2;
	    }
	}