#compose-wrapper{

}
#compose{
	
	.text-primary{
		color: @lava-login-lava !important;
	}
	
	header{
		padding: @filter-height 1.75em 0;
		background-color: @lava-compose-header;
		color: @lava-compose-header-fg !important;
		.table-list{
			border-bottom: 1px solid @lava-gray-lighter;
			
			> *{
				vertical-align: middle;
			}
			.fields{
				.pos-rel();
				padding-right: 40px;
				span.icon-close{
					.pos-abs();
					right: 0;
					top: 0;
					line-height: 3em;
				}
				width: 100%;
			}
			label {
				color: @lava-compose-header-fg;
				font-weight: @base-font-weight;
				line-height: 1em;
				font-size: 14px;
				padding-top: 12px;
				padding-bottom: 6px;

			}
		}
	}

	.dropdown-control.cell{
		width: 100%;
	}

	.ta-toolbar{
		text-align: center;
		background-color: @lava-compose-header;
		&.btn-toolbar{
			margin: 0;
			padding: 4px 0;
		}
		.btn-group{
			display: inline-block;
			float: none;
			i{
				line-height: inherit;
				color: @lava-compose-header-fg !important;
			}
			.btn{
				border: 0;
				background: transparent none;
			}
		}
	}


	input{
		background: transparent;
		box-shadow: none !important;
		border: 0 !important;
		background-position: -200% -200% !important;
	}

	.ui-select-container{
		font-size: 14px;
		border: 0;
		box-shadow: none;
		background-color: transparent;
		.btn-default{
			color: @lava-compose-header-fg;
			border: 0 none;
			background-color: transparent;
			border-radius: 2px;
			font-weight: @light-font-weight;
			// padding-right: 1em;
			&:hover, &.btn-primary{
				background-color: @lava-compose-tags-bg;
				.close.ui-select-match-close{
					transition: .3s opacity;
					.opacity(.9);
				}
			}

		}


		.icon-lock{
			color: @lava-login-lava;
			font-size: 1.24em;
			vertical-align: middle;
			padding-left: 6px;
			position: relative;
			top: -1px;
		}
		.icon-lock.sec-0{
			color: @lava-warning;
			&:before{
				content: "\71";
			}
		}

		.close.ui-select-match-close{
			font-family: 'lavaboom';
			speak: none;
			font-size: 0;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			margin-left: 7px;

			&:before{
				position: relative;
				top: 3px;
				left: -1px;
				content: "\73";
				font-size: 12px;
			}

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: '7';
			.opacity(0);
			transition: .2s opacity;
		}
	}

	.ui-select-bootstrap.dropdown{
		.btn-block{
			.text-left();
		}
	}

	.ta-scroll-window > .ta-bind{
		outline: 0 !important
	}

	.ta-editor{
		box-shadow: none !important;
		outline: 0 !important;
		border: 0 !important;
		padding: .5em 1.25em;
		border-radius: 0;
	}
}