#compose-wrapper{

}
#compose{

	background-color: @lava-gray;
	
	.text-primary{
		color: @lava-login-lava !important;
	}
	
	&.warning{
		.pos-rel();
		header, article, footer{
			// .opacity(.8);
		}
		.mask{
			.pos-abs;
			.fill-abs();
			// .z1();
			cursor: pointer;
			background-color: @lava-fadeouts;
		}
	}
	hgroup {
		.pack();
		.text-right();
		
		.z2();
		line-height: @filter-height;
		> * {
			margin-left: .5em;
			span.icon-sent{
				line-height: .6em;
				padding-right: .4em;
			}
		}
	}
	header {
		padding: @filter-height 1.75em 0;
		background-color: @lava-compose-header;
		color: @lava-compose-header-fg !important;
		.table-list{
			border-bottom: 1px solid @lava-gray-lighter;
			
			> *{
				vertical-align: middle;
			}
			.fields{
				.pos-rel();
				padding-right: 40px;
				span.icon-close{
					.pos-abs();
					right: 0;
					top: 0;
					line-height: 3em;
				}
				width: 100%;
			}
			label {
				color: @lava-compose-header-fg;
				.lava-font();
				line-height: 1em;
				font-size: @compose-font-size;
				padding-top: 12px;
				padding-bottom: 6px;

			}
		}
	}

	.dropdown-control.cell{
		width: 100%;
		> div {
			display: inline-block;
			width: auto !important;
		}
	}

	.ta-toolbar{
		text-align: center;
		background-color: @lava-compose-header;
		&.btn-toolbar{
			margin: 0;
			padding: 4px 0;
		}
		.btn-group{
			display: inline-block;
			float: none;
			
			i{
				line-height: inherit;
			}
			.btn{
				border: 0;
				background: transparent none;
				color: @lava-compose-header-fg;
				&:active, &.active{
					border: 0;
					background: transparent none;
					box-shadow: none;
					> * {
						color: @lava;
					}
				}
			}
		}
	}


	input{
		background: transparent;
		box-shadow: none !important;
		border: 0 !important;
		background-position: -200% -200% !important;
	}

	.ui-select-container{
		font-size: @compose-font-size;
		border: 0;
		box-shadow: none;
		background-color: transparent;
		padding: 0;
		.lava-font();
		.btn-default{
			color: @lava-compose-header-fg;
			border: 0 none;
			background-color: @lava-compose-tags-bg;
			border-radius: .2rem;
			margin-right: .5rem !important;
			.lava-font();
			font-size: @compose-font-size;
			padding: .5rem 1rem;
			// padding-right: 1em;
			&:hover, &.btn-primary{
				background-color: @lava-compose-tags-bg;
				.close.ui-select-match-close{
					transition: .3s opacity;
					.opacity(.9);
				}
			}
		}


		.icon-lock{
			color: @lava-login-lava;
			font-size: 1.3em;
			vertical-align: middle;
			padding-left: .6rem;
			position: relative;
			top: -1px;
		}
		.icon-lock.sec-0{
			color: @lava-warning;
			&:before{
				content: "\71";
			}
		}

		.close.ui-select-match-close{
			font-family: 'lavaboom';
			speak: none;
			font-size: 0;
			font-style: normal;
			
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			margin-left: 7px;

			text-shadow: none;

			color: @lava-compose-header-fg;

			&:before{
				position: relative;
				top: .4rem;
				left: -.1rem;
				content: "\73";
				font-size: @compose-font-size;
			}

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: '7';
			.opacity(7);
			transition: .2s opacity;
		}
	}

	.ui-select-bootstrap.dropdown{
		.btn-block{
			.text-left();
			display: inline-block;
		}
	}

	.ta-scroll-window > .ta-bind{
		outline: 0 !important;
		min-height: 400px;
	}

	.ta-editor{
		box-shadow: none !important;
		outline: 0 !important;
		border: 0 !important;
		padding: .5em 1.75em;
		border-radius: 0;
		height: auto;
	}
}

.modal-backdrop.fade.in{
	background-color: @lava-fadeouts;
	bottom: 0;
}