#login-app{
	padding-top: 100px;
	background-color: @lava-login-gray-darker;
	color: @lava-login-gray-light;
	h1{
		font-size: 2em;
		color: @lava-login-gray-light;
		font-weight: @light-font-weight;
		.text-center();
	}

	a{
		color: @lava-login-lava;
	}
}