#login-app{
	font-weight: 100 !important;
	font-size: 13px;

	p{
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-o-hyphens: auto;
		hyphens: auto;
	}

	.main-container, .main-container > .row, #main-content{
		.pos-rel();
		height: 100%;
	}

	#main-content > form{
		position: relative;
		top: 40%;
		transform: translateY(-34%);
	}

	background-color: @lava-login-gray-darker;
	color: @lava-login-gray-light;
	text-rendering: optimizelegibility;
	-moz-osx-font-smoothing: grayscale;

	input[type=text], input[type=email], input[type=password], textarea, .btn, .checkbox label:before{
		border-radius: 2px;
		background: @lava-login-gray-dark;
		border: 0;
		box-shadow: none;
		color: @lava-login-gray-lighter;
		&.loading{
			background: @lava-login-gray-dark url('/img/loader.svg') 96% center no-repeat;
		}
		&.success{
			background: @lava-login-gray-dark url('/img/check.svg') 96% center no-repeat;
		}
	}

	input[type=checkbox] {  
	    display: none;  
	}

	.checkbox label:before {  
		content: "";  
	    display: inline-block;  
	  
	    width: 24px;  
	    height: 20px;  
	  
	    margin-right: 20px;  
	    position: absolute;  
	    left: 0;  
	    
	}

	.checkbox label{
		padding-left: 40px;
	}

	input[type=checkbox]:checked + label:before {
		font-family: 'lavaboom';
	    content: "7";  
	    line-height: 20px;
	    font-size: 20px;
	    text-align: center;
	}  

	.form-control::-moz-placeholder {
		color: @lava-login-gray;
	  	opacity: 1;
	}
	.form-control:-ms-input-placeholder {
	  	color: @lava-login-gray;
	}
	.form-control::-webkit-input-placeholder {
	  	color: @lava-login-gray;
	}

	.table-list{
		span.cell{
			font-size: 3em;
			text-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
			padding-right: 10px;
			.pos-rel();
			top: .5em;
		}
		h1{
			text-align: left;
			margin-top: 0;
		}
	}

	div.info{
		display: table;
		margin-bottom: 1.5em;
		span[class^="icon-"], span[class*=" icon-"], .lava-icon {
			padding-right: 10px;
			font-size: 2em;
			line-height: 0;
			position: relative;
			top: .35em;
		}
		> *{
			display: table-cell;
		}
	}

	.pack{
		margin-bottom: 0 !important;
	}

	.big{
		font-size: 1.25em;
		&.xtra{
			margin-bottom: 1.5em;
		}
	}

	.highlight{
		color: @lava-login-gray-lighter;
	}

	.progress{
		height: 6px;
		border: 0;
		margin-bottom: 2em;
		.progress-bar{
			border: 0;
			box-shadow: none;
			border-radius: 2px;
		}
	}

	.input-group.suffix{
		display: block;
		input{
			display: block;
		}
		.input-group-addon{
			display: block;
			background: transparent none;
			color: @lava-login-gray-light;
			border: 0;
			.pos-abs();
			right: 0;
			top: 0;
			bottom: 0;
			width: auto;
			.z1();
			line-height: 1.8em;
			font-size: 18px;
			font-weight: 100;
			pointer-events: none;
		}
	}

	hr.spacer{
		border-color: transparent;
		margin-bottom: 1.1em;
		font-size: 2em;
		&.large{
			margin-bottom: 3em;
		}
	}

	hr.blank{
		border-color: transparent;
	}

	form.steps-form hr.spacer{
		margin-bottom: 2.5em;
	}

	h4{
		color: white;
	}
	p.lead, h1{
		font-size: 2em;
		color: @lava-login-gray-light;
		font-weight: @light-font-weight;
		.text-center();
		margin-bottom: 1.1em;
		&.pack{
			margin-bottom: 0;
		}
		+ .steps{
			margin-top: .5em;
			margin-bottom: 1em;
			&.large{
				margin-bottom: 2.25em;
			}
		}
	}

	h1{
		margin-bottom: 3em;
	}

	.steps{
		font-size: 2.7em;
		>span{
			.opacity(.2);
			margin: 0;
			&.active{
				.opacity(1);
			}
		}
	}

	.login-logo{
		width: 60%;
		margin-left: 20%;
		& + h1, & + .lead {
			margin-top: -.7em;
		}
	}

	a{
		color: @lava-login-lava;
		&:not(.btn){
			display: inline;
			border-bottom: 1px solid @lava-login-lava;
		}
		&:hover, &:focus{
			text-decoration: none;
		}
	}

	.shadow{
		text-shadow: @lava-login-box-shadow;
	}

	.btn{
		color: @lava-login-gray-lighter;
		margin-bottom: 1em;
		font-weight: 100;
	}

	.btn-primary{
		background-color: @lava-login-lava;
		box-shadow: @lava-login-box-shadow;
		color: #FFF;
	}

	.login-alert{
		background-color: @lava-login-gray-dark;
		box-shadow: @lava-login-box-shadow;
		border-radius: 10px;
		h1 {
			border-bottom: 1px solid @lava-login-gray-light;
			padding-bottom: .70em;
			margin-bottom: .75em;
		}
		hr{
			border-color: @lava-login-gray-light;
		}
	}

	label{
		font-weight: 100;
	}

	footer{
		margin-top: 2em;
	}

	.checkbox-label{
		margin-top: 3px;
	}

	p.steps{
		// font-size: 1.5em;
	}
}