#notifications.notifications.navbar-inverse > div:not(.notification-auto-dismiss){
	background: @lava;
	color: #FFF;
	padding: 0 1.5rem;
	.clearfix();
	
	.btn{
		background: @lava-button-color;
		padding-left: @lava-button-padding;
		padding-right: @lava-button-padding;
		.span{
			display: inline-block;
			padding-right: 1rem;
		}
	}
	.navbar-text, .btn-default{
		color: #FFF !important;
	}
}

#notifications.notifications.navbar-inverse > div.notification-auto-dismiss{
	.text-center();
	.navbar-nav{
		float: none;
		width: auto;
		margin: 1.1rem auto;
		// line-height: 2.2rem;
		border-radius: @border-radius-base;
		background: @lava;
		display: inline-block;
		.navbar-text{
			color: #FFF;
			.lava-font-strong();
			margin: .6rem;
		}
	}
}

.notifications-0 .notifications{
	display: none;
}

.notifications-1 + div {
	// top: @filter-height * 2 !important;
}

.notifications-2 + div {
	// top: @filter-height * 3 !important;
}

.dialogs-default{
	.modal-lg{
		width: 35rem;
		margin: 11.0rem auto;
	}

	.modal-content{
		background: @lava;
		color: #FFF;
		border: 0 !important;
		overflow: hidden;
		.lava-font-medium();
		.text-center();
	}

	.modal-header{
		border: 0;
		.text-center();
		padding: 1.1rem;
		line-height: 2.2rem;
		height: 4.4rem;
		.close{
			display: none;
		}
	}
	.modal-body{
		line-height: 2.2rem;
		padding: 1.1rem;
		margin-bottom: 1.1rem;
		font-size: 1.8rem;
	}
	.modal-footer{
		padding: 0;
		display: flex;
		border: 0 !important;
		margin: 0;
		background-color: @lava-light;
		> *{
			flex-grow: 1;
			margin: 0 !important;
			padding-top: 0; padding-bottom: 0;
			line-height: @filter-height;
			background-color: transparent !important;
			color: #FFF;
			font-size: 1.8rem;
			&:hover{
				background-color: @lava-lighter !important;
			}
			&:not(:first-child){
				border-left: 1px solid @lava-lighter;
			}
		}
	}
}