@media print {
   #leftPanel, #mail-list, .filters{
   	display: none;
   }
   #mail-thread, #content, .main-view{
   	padding: 0; margin: 0;
   	position: static;
   	width: 100%;
   }

   .filters{

   }

   .mail{
   	border-color: transparent; box-shadow: none !important;
   	border-bottom: 1px solid @border-site-wide;
   	padding: 0 !important; margin: 0 !important;
   }
}