section.email
	section.body(ng-bind-html="body")
	footer.signature(ng-bind-html="signature")
	blockquote.replied-to(ng-repeat="reply in replies")
		header {{'LAVAMAIL.INBOX.REPLY_HEADER' | translate:reply}}:
		section(ng-bind-html="reply.body")