.filters.row.no-gutter
	nav.navbar.navbar-inverse(role="navigation")
		div
			ul.nav.navbar-nav.navbar-right
				li
					button.btn.btn-default(ng-hide="searchText", ng-click="refresh()", ng-autodisable, tooltip = "{{'LAVAMAIL.INBOX.TITLE_REFRESH_INBOX' | translate}}", tooltip-placement="bottom", tooltip-append-to-body="true")
						span.icon-refresh
					button.btn.btn-default(ng-show="searchText", ng-click="clearSearch()", ng-autodisable, tooltip = "{{'LAVAMAIL.INBOX.CLEAR_SEARCH' | translate}}", tooltip-placement="bottom", tooltip-append-to-body="true")
						span.icon-cancel
			form.navbar-form-alt
				.form-group
					.input-group
						label.search-icon.input-group-addon(for="top-search")
							span.icon-search
						input#top-search.search.form-control(type="text", placeholder="{{'LAVAMAIL.INBOX.PLC_SEARCH' | translate}}", ng-model="searchText")
.mail-list-group
	div.pane-status(ng-show="isLoadingSign && threadsList.length < 1")
		img(src="/img/loader.svg")
	div.pane-status(ng-show="!isLoading && threadsList.length < 1") {{'LAVAMAIL.INBOX.LB_NOTHING_FOUND' | translate}}
	div(infinite-scroll="scroll()", infinite-scroll-disabled="isLoading || isDisabledScroll", infinite-scroll-parent="true")
		div.item-wrapper(
		ng-repeat="thread in threadsList | filter: searchFilter as filteredThreadsList track by thread.id",
		ng-class="{active: selectedTid == thread.id}",
		ng-click="selectThread(thread.id); toggleShowDetails();",
		ng-show="thread.isLoaded()")
			.mail-list-item
				.mail-list-wrapper
					.buttons.text-center
						div.icon-holder.read
							span.icon-star(ng-show="thread.isLabel('Starred') && thread.isRead", ng-class="{unread : !thread.isRead}")
							//- span.icon-star-outline(ng-show="!thread.isLabel('Starred')  && thread.isRead")
							span.icon-unread(ng-show="!thread.isRead && !thread.isLabel('Starred')")
						div.icon-holder.reply(ng-show="thread.isReplied")
							span.icon-reply
						div.icon-holder.forward(ng-show="thread.isForwarded")
							span.icon-arrow-right
					.details
						p.strong.pack.title(ng-bind="thread.membersPretty | members")
						p.medium.subject(ng-bind="thread.subject")
						//- p.summary(ng-bind-html="thread.headerEmail.preview ? thread.headerEmail.preview.data.text : 'LAVAMAIL.INBOX.NO_PREVIEW_AVAILABLE' | translate")
					.when
						span.date(ng-bind="thread.created | lavadate", title = "{{thread.created | timeAgo}}")
						.lava-icon-row
							span(ng-show="thread.attachmentsCount > 0")
								span.icon-paper-clip
							span(ng-show="thread.secure == 'all'")
								span.icon-lock
							span(ng-show="thread.secure == 'none'|| thread.secure == 'some'")
								span.icon-unlock
		div.item-wrapper
			.mail-list-item(ng-show="isLoadingSign && threadsList.length > 0")
				.mail-list-wrapper
					div.pane-status
						img(src="/img/loader.svg")
