li.list-group-item(ng-class="{ 'collapse-active': !currentEmail.isCollapsed() }")
	div.input-group
		button.btn.btn-remove(type="button", ng-click="remove()")
			span.icon-delete
		input.form-control(type="text", name="email-{{$index}}", ng-model="currentEmail.name", required,
			placeholder="{{'MAIN.CONTACTS.PLC_EMAIL' | translate}}", tooltip="{{currentEmail.getTooltip()}}", tooltip-trigger="focus", tooltip-placement="right")
		div.input-group-btn
			button.btn.tggl(type="button", ng-model="currentEmail.isStar", btn-checkbox="", btn-checkbox-true="1", btn-checkbox-false="0")
				span.icon-star
			span.dropdown(dropdown="", ng-show="!currentEmail.isSecured()")
				button.btn.btn-default.dropdown-toggle(type="button", dropdown-toggle="")
					span.icon-unlock(ng-show="!currentEmail.isSecured()")
				ul.dropdown-menu.pull-right(role="menu")
					li
						p {{'MAIN.CONTACTS.PUBLIC_KEY_PROMPT1' | translate}}
						p {{'MAIN.CONTACTS.PUBLIC_KEY_PROMPT2' | translate}}
					li.yesno.table-list
						a.btn.cell(type="button")
							span.icon-public-key-send
							span {{'MAIN.CONTACTS.PUBLIC_KEY_PROMPT_REQUEST' | translate}}
						a.btn.cell(type="button", open-file="uploadPublicKey(data)")
							span.icon-public-key-upload
							span {{'MAIN.CONTACTS.PUBLIC_KEY_PROMPT_UPLOAD' | translate}}
			button.btn.btn-default(type="button", ng-show="currentEmail.isSecured()", ng-click="currentEmail.switchCollapse()")
				span.icon-lock
	li.list-group-item(ng-show="currentEmail.isSecured()", collapse="currentEmail.isCollapsed()")
		div.child-item
			.text-control
				label {{'MAIN.CONTACTS.LB_KEY_ID' | translate}}
				input.form-control(disabled, type="text", ng-model="currentEmail.key.id")
			.text-control
				label {{'MAIN.CONTACTS.LB_LENGTH' | translate}}
				input.field-icon.form-control(disabled, ng-model="currentEmail.key.length")
			.text-control
				label {{'MAIN.CONTACTS.LB_ALGORITHMS' | translate}}
				input.field-icon.form-control(disabled, ng-model="currentEmail.key.algos")
			div
				div.input-group.with-label
					label {{'MAIN.CONTACTS.LB_DOWNLOAD_PUBLIC_KEY' | translate}}
					div.input-group-btn
						button.btn.btn-default(type="button", ng-click="downloadPublicKey()")
							span.icon-arrow-down
			div
				div.input-group.with-label
					label {{'MAIN.CONTACTS.LB_REMOVE' | translate}}
					div.input-group-btn
						button.btn.btn-default(type="button", ng-click="remove()")
							span.icon-trash