#contacts-list.list-pane.ng-cloak(ng-controller='CtrlContacts')
	.filters.row.no-gutter.lava-icon-row
		label.search-icon.col-xs-3(for='top-search')
			span.icon-search
		input#top-search.search.col-xs-13(placeholder='Search Contacts')
		.lava-icon-wrapper.col-xs-8
			a(href='#')
				span.icon-close
			a(href='#')
				span.icon-star
			a(href='#')
				span.icon-compose
	.list-group-icons
		ul.list-group
			contact.list-group-item(ng-repeat="(k,v) in sortedcontacts | filter: searchText ")
