.row.main-panel.ng-cloak
	form.settings.col-md-12.col-md-offset-6.col-xs-22.col-xs-offset-1
		h4 Ned Stark
		.row
			.col-md-12.col-xs-24
				img.thumbnail.img-responsive(src="/img/avatar.svg")
			.col-md-12.col-xs-24
				ul.list-group
					li.list-group-item
						.text-control.block
							input.form-control(type='text', placeholder='First Name', value="Eddard")
					li.list-group-item
						.text-control.block
							input.form-control(type='text', placeholder="Last Name", value="Stark")
					li.list-group-item
						.text-control.block
							input.form-control(type='text', placeholder="Company Name")

		h4 Private Email
		ul.list-group
			li.list-group-item
				div.input-group
					input.form-control(type="email", value="house.stark@gmail.com")
					div.input-group-btn
						button.btn.tggl(type="button", ng-model="singleModel", btn-checkbox="", btn-checkbox-true="1", btn-checkbox-false="0")
							span.icon-star-outline
						a.btn
							span.icon-lock
			li.list-group-item
				div
					div.input-group.with-label
						label Key ID
						input.form-control(type="text", value="62CEB525")
						div.input-group-btn
							button.btn.btn-default(ng-click="isCollapsed = !isCollapsed")
								span.icon-chevron-down
				div.child-item(collapse="!isCollapsed")
					.text-control
						label Length
						input.icon-field.form-control(disabled="", value="2.048")
					.text-control
						label Algorithmus
						input.icon-field.form-control(disabled="", value="RSA")
					.text-control
						label Public Key
						input.icon-field.form-control(disabled="", value="62CEB525")
					div
						div.input-group.with-label
							label Download Public Key
							input.form-control(type="text", disable="true")
							div.input-group-btn
								button.btn.btn-default
									span.icon-arrow-down
		h4 Business Email
		ul.list-group
			li.list-group-item
				div.input-group
					input.form-control(type="email", value="ned@stark.com")
					div.input-group-btn
						button.btn.tggl(type="button", ng-model="singleModel2", btn-checkbox="", btn-checkbox-true="1", btn-checkbox-false="0")
							span.icon-star-outline
						a.btn
							span.icon-lock
			li.list-group-item
				div
					div.input-group.with-label
						label Key ID
						input.form-control(type="text", value="EB525A2")
						div.input-group-btn
							button.btn.btn-default(ng-click="isCollapsed = !isCollapsed")
								span.icon-chevron-down
				div.child-item(collapse="isCollapsed")
					.text-control
						label Length
						input.icon-field.form-control(disabled="", value="2.048")
					.text-control
						label Algorithmus
						input.icon-field.form-control(disabled="", value="RSA")
					.text-control
						label Public Key
						input.icon-field.form-control(disabled="", value="62CEB525")
					div
						div.input-group.with-label
							label Download Public Key
							input.form-control(type="text", disable="true")
							div.input-group-btn
								button.btn.btn-default
									span.icon-arrow-down