.filters.row.no-gutter.lava-icon-row.ng-cloak
.main-view
	.row.main-panel
		section.pane-status(ng-show="!details") {{'MAIN.CONTACTS.LB_NOTHING_FOUND' | translate}}
		section.pane-status(ng-show="details && !details.isDecrypted && !details.isNew") {{'MAIN.CONTACTS.LB_NO_PRIVATE_KEY_FOUND1' | translate}}
			div {{'MAIN.CONTACTS.LB_NO_PRIVATE_KEY_FOUND2' | translate}}
				a(ui-sref="main.settings.security") {{'MAIN.CONTACTS.LB_SETTINGS' | translate}}
				| {{'MAIN.CONTACTS.LB_NO_PRIVATE_KEY_FOUND3' | translate}}
		form.settings.col-md-12.col-md-offset-6.col-xs-22.col-xs-offset-1(
			name="__form", ng-show="details && (details.isDecrypted || details.isNew)", ng-submit="__form.$valid && saveThisContact()", novalidate)
			h4(ng-show="details.isNew", ng-bind="details.name | defaultValue:('MAIN.CONTACTS.LB_NEW_CONTACT' | translate)")
			h4(ng-show="!details.isNew", ng-bind="details.name | defaultValue:('MAIN.CONTACTS.LB_CONTACT_NAME' | translate)")
			.row
				.col-md-12.col-xs-24
					img.thumbnail.img-responsive(src="/img/avatar.svg")
				.col-md-12.col-xs-24
					ul.list-group
						li.list-group-item
							.text-control.block
								input.form-control(type="text", name="firstName", placeholder="{{'GLOBAL.PLC_FIRST_NAME' | translate}}", ng-model="details.firstName", required, minlength="2")
						li.list-group-item
							.text-control.block
								input.form-control(type="text", name="lastName", placeholder="{{'GLOBAL.PLC_LAST_NAME' | translate}}", ng-model="details.lastName", required, minlength="2")
						li.list-group-item
							.text-control.block
								input.form-control(type="text", name="displayName", placeholder="{{'GLOBAL.PLC_DISPLAY_NAME' | translate}}", ng-model="details.name", required, minlength="2")
						li.list-group-item
							.text-control.block
								input.form-control(type="text", name="companyName", placeholder="{{'GLOBAL.PLC_COMPANY_NAME' | translate}}", ng-model="details.companyName")
			hr.spacer
			button.btn.btn-lg.btn-success.btn-block.btn-icon.text-center(type="submit") {{'MAIN.CONTACTS.BTN_SAVE_CONTACT' | translate}}
			button.btn.btn-lg.btn-danger.btn-block.btn-icon.text-center(type="button", ng-click="deleteThisContact()")
				span.icon-trash
				| {{'MAIN.CONTACTS.BTN_DELETE_CONTACT' | translate}}
			div
				h4 {{'MAIN.CONTACTS.TITLE_PRIVATE_EMAIL' | translate}}
				ul.list-group(ng-repeat="currentEmail in details.privateEmails", ng-controller="CtrlContactProfileEmail")
					include ./_contacts.profile.email.jade
				button.btn.btn-lg.btn-default.btn-block.btn-icon(type="button", ng-click="addNewPrivateEmail()")
					span.icon-plus
					| {{'MAIN.CONTACTS.BTN_ADD_PRIVATE_EMAIL' | translate}}
			div
				h4 {{'MAIN.CONTACTS.TITLE_BUSINESS_EMAIL' | translate}}
				ul.list-group(ng-repeat="currentEmail in details.businessEmails", ng-controller="CtrlContactProfileEmail")
					include ./_contacts.profile.email.jade
				button.btn.btn-lg.btn-default.btn-block.btn-icon(type="button", ng-click="addNewBusinessEmail()")
					span.icon-plus
					| {{'MAIN.CONTACTS.BTN_ADD_BUSINESS_EMAIL' | translate}}