#mail-thread.details-pane
	.row.no-gutter.actions.lava-icon-row
		.col-xs-24
			.lava-icon-wrapper
				a(href="#")
					span.icon-reply
				a(href="#")
					span.icon-reply
				a(href="#")
					span.icon-arrow-right
				span.spacer
				a(href="#")
					span.icon-star
				a(href="#")
					span.icon-ban
				a(href="#")
					span.icon-trash
	// mail-thread-template
	.row.no-gutter.mail
		.col-xs-24
			header.row.no-gutter
				.col-xs-21
					strong Sarah McGormec
					br
					| To: j.apple@lavaboom.com
					br
					| Re: I have this great idea for a movie
				.col-xs-2.when
					span
						| Today
						br
						| 7:28am
				.col-xs-1.secure
					a.icon-<!--.$secure.-->
			.mail-content.row.no-gutter
				.col-xs-22
					p Lorem ipsum dolor,
					p
						| Sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr justo duo dolores et ea rebum. Stet clita kasd gubergre.
					p Lorem ipsum dolor sit amet.
			footer
				.row.no-gutter
					.col-xs-8
						a.attachment(href="test.mov", filetype="mov")
							span.fileCorner
							| Very Long Filename...pdf
							br
							| 24kb
					.col-xs-8
						a.attachment(href="test.mov", filetype="pdf")
							span.fileCorner
							| Very Long Filename...pdf
							br
							| 24kb
	// // mail-thread-template
