#mail-list.list-pane.ng-cloak(ng-controller="CtrlMailList")
	.filters.row.no-gutter.lava-icon-row
		label.search-icon.col-xs-3(for="top-search")
			span.icon-search
		input#top-search.search.col-xs-13(type="text", placeholder="Search Emails", ng-model="searchText")
		.lava-icon-wrapper.col-xs-8(ng-show="selectedTid !== null")
			a(href="#")
				span.icon-arrow-down
			a(href="#", ng-click="starThread()")
				span.icon-star
			a(href="#", ng-click="spamThread()", ng-show="labelName != 'Spam'")
				span.icon-ban
			a(href="#", ng-click="deleteThread()")
				span.icon-trash
	.mail-list-group
		div.pane-status(ng-show="isLoading") Loading...
		div.pane-status(ng-show="!isLoading && threadIdsList.length < 1") No emails found
		div(infinite-scroll="scroll()", infinite-scroll-disabled="isLoading || isDisabled", infinite-scroll-parent="true")
			div(ng-repeat="tid in threadIdsList track by tid", ng-class="{active: selectedTid == tid}", ng-click="choose(tid)")
				.mail-list-item(class="{{threads[tid].active}}", href="#")
					.row.no-gutter
						.col-xs-3.clear.buttons
							a(href="#")
								span.icon-star
							a(ui-sref=".popup.compose({threadId: tid})")
								span.icon-reply
							a(href="#")
								span.icon-arrow-right
						.col-xs-16.pack
							h5(ng-bind="threads[tid].members | members")
							p.subject(ng-bind="threads[tid].subject")
							//p.summary(ng-bind-html="threads[tid].headerEmail.preview ? threads[tid].headerEmail.preview.data.text : 'INBOX.NO_PREVIEW_AVAILABLE' | translate")
						.col-xs-5.when
							span.date.lava-icon-row(ng-bind="threads[tid].modified | humanDate")
							br
							br
							.lava-icon-row
								a(ng-show="threads[tid].attachmentsCount > 0")
									span.icon-paper-clip
								a(ng-show="threads[tid].isEncrypted")
									span.icon-lock