- var defs = {};
div#compose-wrapper
	form#compose
		.filters.row.no-gutter.lava-icon-row.z1
			.lava-icon-wrapper.pull-right
				a(href="#", ng-click="isXCC = !isXCC")
					span.icon-tick
				a(href="#", ng-click="send()", ng-autodisable=)
					span.icon-sent
				a(href="#", ng-click="hidePopup()")
					span.icon-close

		header#compose-header
			.table-list
				- defs = {model: "form.selected.to", label: "{{'MAIN.COMPOSE.LB_TO' | translate}}", click: "clearTo()"};
				include ./compose/_compose.email.jade
			.table-list(ng-show="isXCC")
				- defs = {model: "form.selected.cc", label: "{{'MAIN.COMPOSE.LB_CC' | translate}}", click: "clearCC()"};
				include ./compose/_compose.email.jade
			.table-list(ng-show="isXCC")
				- defs = {model: "form.selected.bcc", label: "{{'MAIN.COMPOSE.LB_BCC' | translate}}", click: "clearBCC()"};
				include ./compose/_compose.email.jade
			.table-list
				.cell.label
					label {{'MAIN.COMPOSE.LB_FROM' | translate}}:
				.dropdown-control.cell
					ui-select(ng-model='form.selected.from', search-enabled='false', style="width: 50%;")
						ui-select-match {{$select.selected.email}}
						ui-select-choices(repeat='item in form.fromEmails')
							span(ng-click='item.selected=item', ng-bind-html='item.email')
			.table-list
				.cell.label
					label.text-primary {{'MAIN.COMPOSE.LB_SUBJECT' | translate}}:
				.cell.fields
					input#subject.form-control.text-primary.col-xs-24(type="text", name="subject", auto-complete="off", ng-model="form.subject").text-primary

		article#compose-body
			div(text-angular="", ng-model="form.body", ta-toolbar="[['h1','h2','h3', 'h4', 'h5', 'h6'],['bold','italics'], ['justifyLeft', 'justifyCenter', 'justifyRight']]")
		//footer
			#attachments.row
				div.col-xs-6(ng-repeat="attachment in attachments")
					a.attachment(href="test.mov", filetype="{{attachment.ext}}")
						span.fileCorner
						span(ng-bind="attachment.attachment.name")
						br
						span(ng-bind="attachment.attachment.size | fileSize")
						span.text-muted {{attachment.status}}
						//- div(ng-bind="attachment.attachment.size | fileSize")
						//- div(ng-bind="attachment.attachment.dateModified | date")
						//- div(ng-bind="attachment.status")
						//- button.btn.btn-block.btn-lg.btn-primary(ng-click="deleteAttachment(attachment, $index)", ng-autodisable) delete

