- var defs = {};
div#compose-wrapper
	form#compose(name="__form", ng-class="{ warning: isWarning }")
		.filters.row.no-gutter.lava-icon-row.z1
			//- hgroup(ng-show="isWarning")
			//- 	label {{'MAIN.COMPOSE.LB_WARNING' | translate}}
			//- 	a.btn.btn-primary.btn-sm(type="button", ng-click="confirm()")
			//- 		span.icon-sent
			//- 		span {{'MAIN.COMPOSE.BTN_CONFIRM' | translate}}
			//- 	a.btn.btn-default.btn-sm(type="button", ng-click="reject()") {{'MAIN.COMPOSE.BTN_REJECT' | translate}}
			//- hgroup(ng-show="isError")
			//- 	label {{'MAIN.COMPOSE.LB_ERROR' | translate}}
			//- .lava-icon-wrapper.pull-right(ng-hide="isWarning")
			//- 	button.btn.btn-default(ng-click="isXCC = !isXCC", ng-disabled="isWarning")
			//- 		span.icon-tick
			//- 	button.btn.btn-default(type="submit", ng-click="send()", ng-disabled="isWarning")
			//- 		span.icon-sent
			//- 	button.btn.btn-default(ng-click="hidePopup()")
			//- 		span.icon-close
			nav.navbar.navbar-inverse(role="navigation")
				div
					ul.nav.navbar-nav.navbar-right(ng-show="selectedTid !== null")
						//- li
						//- 	a(href="#", ng-click="starThread(selectedTid)")
						//- 		span.icon-star(ng-show="selectedTid !== null && threads[selectedTid].isLabel('Starred')")
						//- 		span.icon-star-outline(ng-show="selectedTid !== null && !threads[selectedTid].isLabel('Starred')")		
						li
							button.btn.btn-default(ng-click="isXCC = !isXCC", ng-disabled="isWarning")
								span.icon-tick

						li.btn-group.dropdown(dropdown="", is-open="isWarning")
							button.btn.btn-default(dropdown-toggle="", ng-disabled="disabled",type="submit", ng-click="send()", ng-class="{isWarning : dropdown-toggle}")
								span.icon-sent
							ul.dropdown-menu(role="menu")
								li
									a(href="#") Action
								li
									a(href="#") Another action
								li
									a(href="#") Something else here
								li.divider
								li
									a(href="#") Separated link	
						li
							button.btn.btn-default(ng-click="hidePopup()")
								span.icon-close
		header#compose-header
			.table-list
				- defs = {model: "form.selected.to", label: "{{'MAIN.COMPOSE.LB_TO' | translate}}", click: "clearTo()", required: true};
				include ./compose/_compose.email.jade
			.table-list(ng-if="isXCC")
				- defs = {model: "form.selected.cc", label: "{{'MAIN.COMPOSE.LB_CC' | translate}}", click: "clearCC()"};
				include ./compose/_compose.email.jade
			.table-list(ng-if="isXCC")
				- defs = {model: "form.selected.bcc", label: "{{'MAIN.COMPOSE.LB_BCC' | translate}}", click: "clearBCC()"};
				include ./compose/_compose.email.jade
			.table-list
				.cell.label
					label {{'MAIN.COMPOSE.LB_FROM' | translate}}:
				.cell.fields
					input.form-control.col-xs-24.from-email(type='text', name="from", ng-model='form.fromEmails[0].email', disabled)
					//- ui-select(ng-model='form.selected.from', search-enabled='false')
					//- 	ui-select-match {{$select.selected.email}}
					//- 	ui-select-choices(repeat='item in form.fromEmails')
					//- 		span(ng-click='item.selected=item', ng-bind-html='item.email')
			.table-list
				.cell.label
					label.text-primary {{'MAIN.COMPOSE.LB_SUBJECT' | translate}}:
				.cell.fields
					input#subject.form-control.text-primary.col-xs-24(type="text", name="subject", auto-complete="off", ng-model="form.subject")

		article#compose-body
			.lead {{ isWarning }}
			text-angular(ng-model="form.body", name="body", ta-file-drop="onFileDrop", ta-toolbar="toolbar", ta-min-text="1")
		footer
			#attachments.row
				div.col-xs-6(ng-repeat="attachment in attachments")
					a.attachment(href="test.mov", filetype="{{attachment.ext}}")
						span.fileCorner
						span(ng-bind="attachment.attachment.name")
						br
						span(ng-bind="attachment.attachment.size | filesize")
						br
						div(ng-bind="attachment.attachment.dateModified | date")
						br
						span.text-muted {{attachment.status}}
						a.btn.btn-block.btn-lg.btn-primary(type="button", ng-click="deleteAttachment(attachment, $index)", ng-autodisable) delete
		.mask(ng-show="isWarning", ng-click="reject()")

