div#compose-wrapper
	form#compose
		.filters.row.no-gutter.lava-icon-row
			.lava-icon-wrapper.pull-right
				a(href="#")
					span.icon-sent
				a(href="#", ng-click="hidePopup()")
					span.icon-close

		header#compose-header
			.table-list
				.cell.label
					label to:
				.cell.fields
					ui-select(multiple="", tagging="tagTransform", tagging-tokens="SPACE|,|/", ng-model="composeSelected.to", theme="bootstrap", ng-disabled="disabled", style="width: 100%;", title="Choose a person")
						ui-select-match(placeholder="Select person...", ng-class="{{$item.name}}")
							| {{$item.name}} &#60;{{$item.email}}&#62;
							span(class="icon-lock sec-{{$item.sec}}")
						ui-select-choices(repeat="person in people | propsFilter: {name: $select.search, email: $select.search}")
							div(ng-if="person.isTag", ng-bind-html="person.name + ' ' + $select.taggingLabel | highlight: $select.search")
							div(ng-if="!person.isTag", ng-bind-html="person.name| highlight: $select.search")
							small
								| email: {{person.email}}
								span(class="icon-lock sec-{{person.sec}}")
					span.icon-close.pull-right
			.table-list
				.cell.label
					label CC:
				.cell.fields
					ui-select(multiple="", tagging="tagTransform", tagging-tokens="SPACE|,|/", ng-model="composeSelected.cc", theme="bootstrap", ng-disabled="disabled", style="width: 100%;", title="Choose a person")
						ui-select-match(placeholder="Select person...", ng-class="{{$item.name}}")
							| {{$item.name}} &#60;{{$item.email}}&#62;
							span(class="icon-lock sec-{{$item.sec}}")
						ui-select-choices(repeat="person in people | propsFilter: {name: $select.search, email: $select.search}")
							div(ng-if="person.isTag", ng-bind-html="person.name + ' ' + $select.taggingLabel | highlight: $select.search")
							div(ng-if="!person.isTag", ng-bind-html="person.name| highlight: $select.search")
							small
								| email: {{person.email}}
								span(class="icon-lock sec-{{person.sec}}")
					span.icon-close.pull-right
			.table-list
				.cell.label
					label BCC:
				.cell.fields
					ui-select(multiple="", tagging="tagTransform", tagging-tokens="SPACE|,|/", ng-model="composeSelected.bcc", theme="bootstrap", ng-disabled="disabled", style="width: 100%;", title="Choose a person")
						ui-select-match(placeholder="Select person...", ng-class="{{$item.name}}")
							| {{$item.name}} &#60;{{$item.email}}&#62;
							span(class="icon-lock sec-{{$item.sec}}")
						ui-select-choices(repeat="person in people | propsFilter: {name: $select.search, email: $select.search}")
							div(ng-if="person.isTag", ng-bind-html="person.name + ' ' + $select.taggingLabel | highlight: $select.search")
							div(ng-if="!person.isTag", ng-bind-html="person.name| highlight: $select.search")
							small
								| email: {{person.email}}
								span(class="icon-lock sec-{{person.sec}}")
					span.icon-close.pull-right
			.table-list
				.cell.label
					label from:
				.dropdown-control.cell
					ui-select(ng-model='fromEmails.selected', search-enabled='false', style="width: 50%;")
						ui-select-match {{$select.selected.mail}}
						ui-select-choices(repeat='item in fromEmails')
							span(ng-click='item.selected=item', ng-bind-html='item.mail')
			.table-list
				.cell.label
					label.text-primary Subject:
				.cell.fields
					input#subject.form-control.text-primary.col-xs-24(type="text", name="subject", auto-complete="off", value="Re: there never was any spoon").text-primary
					

		article#compose-body
			div(text-angular="", ng-model="htmlVariable")
