.cfp-hotkeys
	h4.cfp-hotkeys-title {{ title }}
	dl(ng-repeat='(firstKey, hotkey) in hotkeys')
		dt.cfp-hotkeys-keys
			span.cfp-hotkeys-key.label.label-default(ng-repeat='key in hotkey.combo track by $index') {{ key }}
		dd.cfp-hotkeys-text {{ hotkey.description }}