div#left-panel.ng-cloak
	nav#navigation
		div#brand
			a(herf="#")
				img(src="img/Lavaboom-logo-full.svg")
		ul.list-unstyled
			li.compose
				a(href="#", ui-sref-active="active", ui-sref="main.compose")
					span.icon-compose
					span.action Compose
			li(ui-sref-active="active", ng-repeat="(name, label) in labels track by label.id")
				a(href="#", ui-sref="main.label({labelName: label.name})")
					span.icon-inbox
					span.action(ng-bind="label.name")
					span.badge
			li.separator
			li
				a(href="#")
					span.icon-head
					span.action Contacts
			li(ui-sref-active="active")
				a(href="#", ui-sref="main.settings.preferences")
					span.icon-cog
					span.action Settings
			li.logout
				small &#169; Lavaboom 2014
				a(href="#", ng-click="logout()")
					span.icon-power
					span.action Logout