div#left-panel.ng-cloak
	nav#navigation
		div#brand
			a(herf="#")
				img(src="img/Lavaboom-logo-full.svg")
		ul.list-unstyled
			li.compose
				a(href="#", ui-sref-active="active", ng-click="showPopup('compose')")
					span.icon-compose
					span.action {{'MAIN.NAV.LB_COMPOSE' | translate}}
			li(ui-sref-active="active", ng-repeat="(name, label) in labelsByName track by label.id")
				a(href="#", ui-sref="main.label({labelName: label.name})")
					span(ng-class="label.iconClass")
					span.action(ng-bind="label.name")
					span.badge
			li.separator
			li
				a(href="#")
					span.icon-head
					span.action {{'MAIN.NAV.LB_CONTACTS' | translate}}
			li(ui-sref-active="active")
				a(href="#", ui-sref="main.settings.preferences")
					span.icon-cog
					span.action {{'MAIN.NAV.LB_SETTINGS' | translate}}
			li.logout
				small &#169; Lavaboom 2014
				a(href="#", ng-click="logout()")
					span.icon-power
					span.action {{'MAIN.NAV.LB_LOGOUT' | translate}}
