div#left-panel.ng-cloak
	nav#navigation
		div#brand
			a(ui-sref="main.inbox.label({labelName: 'Inbox', threadId: null})")
				img(src="#{resolveAsset('/img/Lavaboom-logo-no-shadow.svg')}")
				| <svg width="79.41300000000001" height="40" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g><g id="logo-text"><g id="svg_4"><g id="svg_5"><path id="svg_6" d="m0.181954,13.685001l1.285004,0l0,10.521999c0,0.919998 0.573997,0.902 1.075996,0.902l5.314,0l0,1.285l-5.314,0c-1.145996,0 -2.361,-0.227001 -2.361,-2.188l0,-10.521z" fill="#FFFFFF"/><path id="svg_7" d="m9.157949,23.146999c0,-1.389999 0.869003,-2.309998 2.311005,-2.309998c0,0 3.853996,0.017998 3.853996,0c0,0 0.018013,-1.146 0,-1.162003c0,-1.061001 -0.555,-1.424999 -1.421997,-1.424999c-1.251999,0 -2.762001,0.087002 -4.445,0.208l0,-0.938c1.232002,-0.347 2.777,-0.503002 4.496002,-0.521c1.440987,-0.018005 2.657997,0.764 2.657997,2.674999l0,6.719002l-0.955002,0l-0.332001,-1.111c-0.034996,0 -2.272987,1.215 -3.853996,1.215c-1.268013,0 -2.311005,-0.815002 -2.311005,-2.291l0,-1.059002zm2.311005,2.066002c1.389,0 3.853996,-0.885002 3.853996,-0.885002l0,-2.481998l-3.853996,0.277c-0.746002,0.068001 -1.027,0.571999 -1.027,1.128998l0,0.868c-0.000999,0.833 0.436996,1.093002 1.027,1.093002z" fill="#FFFFFF"/><path id="svg_8" d="m18.882956,17.174999l2.882996,7.327l2.914001,-7.327l1.407997,0l-3.696999,9.220001l-1.284996,0l-3.629013,-9.220001l1.406013,0z" fill="#FFFFFF"/><path id="svg_9" d="m26.784948,23.146999c0,-1.389999 0.867004,-2.309998 2.307024,-2.309998c0,0 3.855015,0.017998 3.855015,0c0,0 0.018005,-1.146 0,-1.162003c0,-1.061001 -0.554993,-1.424999 -1.424009,-1.424999c-1.250008,0 -2.762005,0.087002 -4.445015,0.208l0,-0.938c1.231997,-0.347 2.779007,-0.503002 4.496002,-0.521c1.443014,-0.018005 2.658018,0.764 2.658018,2.674999l0,6.719002l-0.955002,0l-0.330002,-1.111c-0.034996,0 -2.27301,1.215 -3.855015,1.215c-1.266024,0 -2.307024,-0.815002 -2.307024,-2.291l0,-1.059002l0.000008,0zm2.307024,2.066002c1.390995,0 3.855015,-0.885002 3.855015,-0.885002l0,-2.481998l-3.855015,0.277c-0.746,0.068001 -1.023008,0.571999 -1.023008,1.128998l0,0.868c-0.000999,0.833 0.433006,1.093002 1.023008,1.093002z" fill="#FFFFFF"/><path id="svg_10" d="m36.144978,12.764999l1.248001,0l0,4.966c1.111,-0.452 2.640999,-0.695 3.420013,-0.695c2.622986,0 3.038986,2.431999 3.038986,4.792999c0,2.117001 -0.520996,4.670002 -3.038986,4.670002c-1.18,0 -2.951004,-0.799 -3.402,-1.129002l-0.348,1.025002l-0.918015,0l0,-13.630001zm4.668015,12.448002c1.128998,0 1.755997,-1.129002 1.755997,-3.385002c0,-2.830997 -0.644997,-3.507999 -1.755997,-3.507999c-1.336014,0 -2.203003,0.139 -3.402,0.451l0,5.644001c0.936996,0.382 2.029999,0.798 3.402,0.798z" fill="#FFFFFF"/><path id="svg_11" d="m49.478977,17.088001c3.107002,0 4.062004,1.162998 4.062004,4.826c0,3.420998 -0.955002,4.565998 -4.062004,4.565998s-4.061996,-1.267998 -4.061996,-4.565998c-0.000999,-3.767002 1.040001,-4.826 4.061996,-4.826zm0,8.107998c1.875,0 2.777,-0.243 2.777,-3.281998c0,-3.299 -0.747986,-3.542 -2.777,-3.542c-1.945,0 -2.778999,0.226997 -2.778999,3.542c-0.000999,3.073997 0.989014,3.281998 2.778999,3.281998z" fill="#FFFFFF"/><path id="svg_12" d="m59.165974,17.088001c3.108978,0 4.063984,1.162998 4.063984,4.826c0,3.420998 -0.955006,4.565998 -4.063984,4.565998c-3.107002,0 -4.062004,-1.267998 -4.062004,-4.565998c0.000008,-3.767002 1.041008,-4.826 4.062004,-4.826zm0,8.107998c1.87698,0 2.778976,-0.243 2.778976,-3.281998c0,-3.299 -0.746006,-3.542 -2.778976,-3.542c-1.943001,0 -2.775002,0.226997 -2.775002,3.542c0.000008,3.073997 0.988007,3.281998 2.775002,3.281998z" fill="#FFFFFF"/><path id="svg_13" d="m65.140923,17.174999l0.902008,0l0.380997,1.111c1.062012,-0.607998 1.912003,-1.216 3.28299,-1.216c1.127014,0 2.152023,0.504002 2.553024,1.354c0.901978,-0.746998 2.167999,-1.354 3.714996,-1.354c1.598007,0 2.848007,1.196999 2.848007,2.969002l0,6.355l-1.285004,0l0,-6.355c0,-1.024002 -0.660004,-1.684002 -1.561996,-1.684002c-1.371002,0 -2.258011,0.226002 -3.402008,0.972l0,0.678001l0,6.389999l-1.285004,0l0,-6.355003c0,-1.023998 -0.677994,-1.684002 -1.579987,-1.684002c-1.338013,0 -1.945007,0.330006 -3.283005,0.972l0,7.067001l-1.283005,0l0,-9.220001l-0.001999,0l-0.000015,0l0,0.000004z" fill="#FFFFFF"/></g></g></g></g></svg>
		ul.list-unstyled
			li.compose
				a(ng-click="showPopup('compose')", tooltip-placement="right", tooltip="{{'MAIN.NAV.LB_COMPOSE' | translate}}")
					span.icon-compose
					span#compose-action.action {{'MAIN.NAV.LB_COMPOSE' | translate}}
			li(ng-class="{ active: $state.includes('main.inbox.label', {labelName: label.name}) }", ng-repeat="label in labels track by label.id")
				a(ui-sref="main.inbox.label({labelName: label.name, threadId: getThreadForLabel(label.name)})", tooltip="{{label.name}}", tooltip-placement="right")
					span(ng-class="label.iconClass")
					span.action(ng-bind="label.name")
					span.badge(ng-bind="label.threadsUnread | unread")
			li.separator
			li(ui-sref-active="active")
				a(ui-sref="main.contacts", tooltip-placement="right", tooltip = "{{'MAIN.NAV.LB_CONTACTS' | translate}}")
					span.icon-contacts
					span.action {{'MAIN.NAV.LB_CONTACTS' | translate}}
			li(ng-class="{ active: $state.includes('main.settings') }")
				a(ui-sref="main.settings.general", tooltip-placement="right", tooltip = "{{'MAIN.NAV.LB_SETTINGS' | translate}}")
					span.icon-cog
					span.action {{'MAIN.NAV.LB_SETTINGS' | translate}}
			li.logout
				small {{manifest.name}} {{manifest.version}}
				small(title="{{servedBy.title}}") {{servedBy.text}}
				button(ng-click="logout()", tooltip-placement="right", tooltip = "{{'MAIN.NAV.LB_LOGOUT' | translate}}")
					span.icon-power
					strong.action {{'MAIN.NAV.LB_LOGOUT' | translate}} ({{name}})
