div#left-panel.ng-cloak
	nav#navigation
		div#brand
			a(ui-sref="main.inbox.label({labelName: 'Inbox', threadId: null})")
				img(src="img/Lavaboom-logo-full.svg")
		ul.list-unstyled
			li.compose
				a(ng-click="showPopup('compose')")
					span.icon-compose
					span.action {{'MAIN.NAV.LB_COMPOSE' | translate}}
			li(ng-class="{ active: $state.includes('main.inbox.label', {labelName: label.name}) }", ng-repeat="label in labels track by label.id")
				a(ui-sref="main.inbox.label({labelName: label.name, threadId: getThreadForLabel(label.name)})")
					span(ng-class="label.iconClass")
					span.action(ng-bind="label.name")
					span.badge(ng-bind="label.threadsUnread | unread")
			li.separator
			li(ui-sref-active="active")
				a(ui-sref="main.contacts")
					span.icon-head
					span.action {{'MAIN.NAV.LB_CONTACTS' | translate}}
			li(ng-class="{ active: $state.includes('main.settings') }")
				a(ui-sref="main.settings.general")
					span.icon-cog
					span.action {{'MAIN.NAV.LB_SETTINGS' | translate}}
			li.logout
				small {{'MAIN.NAV.LB_COPYRIGHT' | translate}}
				button(ng-click="logout()")
					span.icon-power
					strong.action {{'MAIN.NAV.LB_LOGOUT' | translate}} ({{name}})
