span(ng-message="required", popover="{{'VALIDATION.LB_REQUIRED' | translate}}", popover-placement="top", popover-append-to-body="true")
span(ng-message="minlength", popover="{{'VALIDATION.LB_MIN' | translate}}", popover-placement="top", popover-append-to-body="true")
span(ng-message="email", popover="{{'VALIDATION.LB_EMAIL' | translate}}", popover-placement="top", popover-append-to-body="true")
span(ng-message="match", popover="{{'VALIDATION.LB_MATCH' | translate}}", popover-placement="top", popover-append-to-body="true")