span(ng-message="required") {{'VALIDATION.LB_REQUIRED' | translate}}
span(ng-message="minlength") {{'VALIDATION.LB_MIN' | translate}}
span(ng-message="email") {{'VALIDATION.LB_EMAIL' | translate}}
span(ng-message="match") {{'VALIDATION.LB_MATCH' | translate}}