<!DOCTYPE html>
<html lang="en" ng-app="AppLavaboomLogin">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lavaboom</title>

    <!-- Core CSS -->
    <link href="css/lavaboom.css" rel="stylesheet">

    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon-180x180.png">
    <link rel="shortcut icon" href="/assets/favicon.ico?12411">
    <link rel="icon" type="image/png" href="/assets/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/assets/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/browserconfig.xml">
</head>
<body id="login-app" ng-class="login">
<div ui-view></div>
  <!--  <form class="container">
        <div id="main-content" ui-view class="col-md-8 col-xs-22 col-md-offset-8 col-xs-offset-2">
            <h1>Get your own secure email account!</h1>
            <input type="text" ng-model="auth.username">
            <input type="password" ng-model="auth.password">
            <input type="email" ng-model="auth.email">
            <p>
               <a href="#" class="btn btn-block btn-lg btn-primary">Log In</a>
                <button class="btn btn-block btn-lg btn-primary" ng-click="logIn()">Log In</button>
            </p>
            <p>
                <a href="#" class="btn btn-block btn-lg btn-default">Sign Up</a>
            </p>
            <p class="text-center">
                <a href="#">Got an Invite?</a>
            </p>
        </div>
    </form>-->

    <!-- Lavaboom JS File -->
    <script src="js/lavaboom-login.js"></script>

</body>

</html>
