div.ng-cloak
	nav#navigation
		div#brand
			a(ui-sref="main.inbox.label({labelName: 'Inbox', threadId: null})")
				img(src="#{resolveAsset('/img/Lavaboom-logo-no-shadow.svg')}")
				img(src="#{resolveAsset('/img/Lavaboom-logo-wordmark-min.svg')}")
		ul.list-unstyled
			li.compose
				a(ng-click="showPopup('compose'); toggleLeftPanel()", tooltip-placement="right", tooltip="{{'LAVAMAIL.NAV.LB_COMPOSE' | translate}}")
					span.icon-compose
					span#compose-action.action {{'LAVAMAIL.NAV.LB_COMPOSE' | translate}}
			li(ng-class="{ active: $state.includes('main.inbox.label', {labelName: label.lname}) }", ng-repeat="label in labels track by label.id")
				a(ng-click="toggleLeftPanel('main.inbox.label', {labelName: label.lname, threadId: getThreadForLabel(label.name)})" ui-sref="main.inbox.label({labelName: label.name, threadId: getThreadForLabel(label.name)})", tooltip="{{label.name}}", tooltip-placement="right")
					span(ng-class="label.iconClass")
					span.action(ng-bind="label.name")
					span.badge(ng-bind="label.threadsUnread | unread")
					span.combo(ng-show="isActive('g')") ({{getMultiComboPrettified('g', label.name)}})
			li.separator
			li(ui-sref-active="active")
				a(ng-click="toggleLeftPanel('main.contacts')", ui-sref="main.contacts", tooltip-placement="right", tooltip = "{{'LAVAMAIL.NAV.LB_CONTACTS' | translate}}")
					span.icon-contacts
					span.action {{'LAVAMAIL.NAV.LB_CONTACTS' | translate}}
					span.combo(ng-show="isActive('g')") ({{getMultiComboPrettified('g', 'Contacts')}})
			li(ng-class="{ active: $state.includes('main.settings') }", class="hidden-xs hidden-sm")
				a(ng-click="toggleLeftPanel('main.settings.general')", ui-sref="main.settings.general", tooltip-placement="right", tooltip = "{{'LAVAMAIL.NAV.LB_SETTINGS' | translate}}")
					span.icon-cog
					span.action {{'LAVAMAIL.NAV.LB_SETTINGS' | translate}}
					span.combo(ng-show="isActive('g')") ({{getMultiComboPrettified('g', 'Settings')}})
			li(ng-class="{ active: $state.includes('main.settings') }", class="hidden-md hidden-lg")
				a(ng-click="toggleLeftPanel('main.settings')", ui-sref="main.settings", tooltip-placement="right", tooltip = "{{'LAVAMAIL.NAV.LB_SETTINGS' | translate}}")
					span.icon-cog
					span.action {{'LAVAMAIL.NAV.LB_SETTINGS' | translate}}
					span.combo(ng-show="isActive('g')") ({{getMultiComboPrettified('g', 'Settings')}})
			li.logout
				small {{manifest.name}} 2015
				small(title="{{servedBy.title}}")
					a(href="https://github.com/lavab/web/blob/master/CHANGELOG.md", target="_blank") {{manifest.version}}
					|&nbsp;{{servedBy.text}}
				button(ng-click="logout()", tooltip-placement="right", tooltip = "{{'LAVAMAIL.NAV.LB_LOGOUT' | translate}}")
					span.icon-power
					span.action {{'LAVAMAIL.NAV.LB_LOGOUT' | translate}} ({{name}})