a.attachment(ui-sref=".popup.download({emailId: email.id, fileId: file.id})")
	svg#attachment-icon(width="66", height="88", xmlns="http://www.w3.org/2000/svg", xmlns:svg="http://www.w3.org/2000/svg")
		g
			title Layer 1
			g#main-file-icon(stroke="null")
				g#svg_3(stroke="null")
					g#svg_4(stroke="null")
						g#svg_5(stroke="null")
							polygon#svg_6(stroke="null", points="66,16 50,0 0,0 0,88 66,88", fill="#F5F5F5")
						polygon#svg_7(stroke="null", points="50,16 66,16 50,0", fill="#ECECEC")
			rect#loading-icon(stroke="#000000", stroke-opacity="0", fill-opacity="0", height="33.86705", width="30.11855", y="27.66474", x="17.93347", stroke-linecap="null", stroke-linejoin="null", stroke-dasharray="null", stroke-width="null", fill="#000000")
			path#lock(d="m40.77688,42.96763l0,-4.76647c0,-4.26474 -3.51213,-7.77688 -7.77687,-7.77688s-7.77688,3.51214 -7.77688,7.77688l0,4.76647l-1.37977,0l0,14.42485l18.18786,0l0,-14.42485l-1.25433,0l-0.00001,0zm-13.79769,-4.76647c0,-3.3867 2.75953,-6.14625 6.14624,-6.14625s6.14624,2.75954 6.14624,6.14625l0,4.76647l-12.29248,0l0,-4.76647z", fill="#00BCDF")

	hgroup
		span(ng-bind="file.filename")
		span(ng-bind="file.size | filesize")