#mail-list.list-pane.ng-cloak(ng-controller="CtrlThreadList")
	.filters.row.no-gutter.lava-icon-row
		label.search-icon.col-xs-3(for="top-search")
			span.icon-search
		input#top-search.search.col-xs-13(type="text", placeholder="Search Emails", ng-model="searchText")
		.lava-icon-wrapper.col-xs-8(ng-show="selectedTid !== null")
			a(href="#")
				span.icon-arrow-down
			a(href="#", ng-click="starThread(selectedTid)")
				span.icon-star(ng-show="selectedTid !== null && threads[selectedTid].isLabel('Starred')")
				span.icon-star-outline(ng-show="selectedTid !== null && !threads[selectedTid].isLabel('Starred')")
			a(href="#", ng-click="spamThread(selectedTid)", ng-show="labelName != 'Spam'")
				span.icon-ban
			a(href="#", ng-click="deleteThread(selectedTid)")
				span.icon-trash
	.mail-list-group
		div.pane-status(ng-show="isLoadingSign")
			img(src="/img/loader.svg")
		div.pane-status(ng-show="!isLoadingSign && threadsList.length < 1") {{'INBOX.LB_NOTHING_FOUND' | translate}}
		div(infinite-scroll="scroll()", infinite-scroll-disabled="isLoading || isDisabled", infinite-scroll-parent="true")
			div(ng-repeat="thread in threadsList | filter: searchFilter track by thread.id", ng-class="{active: selectedTid == thread.id}", ng-click="selectThread($event, thread.id)",
				on-navigation="navigated(delta)")
				.mail-list-item
					.row.no-gutter
						.col-xs-3.clear.buttons.text-center
							span.icon-star(ng-show="thread.isLabel('Starred')")
							span.icon-star-outline(ng-show="!thread.isLabel('Starred')")
							//span.icon-reply
							//span.icon-arrow-right
						.col-xs-16.pack
							h5(ng-bind="thread.members | members")
							p.subject(ng-bind="thread.subject")
							//p.summary(ng-bind-html="thread.headerEmail.preview ? thread.headerEmail.preview.data.text : 'INBOX.NO_PREVIEW_AVAILABLE' | translate")
						.col-xs-5.when
							span.date.lava-icon-row(ng-bind="thread.modified | humanDate")
							br
							br
							.lava-icon-row
								a(ng-show="thread.attachmentsCount > 0")
									span.icon-paper-clip
								a(ng-show="thread.isEncrypted")
									span.icon-lock