#mail-list.list-pane.ng-cloak(ng-controller="CtrlThreadList")
	.filters.row.no-gutter.lava-icon-row
		nav.navbar.navbar-inverse(role="navigation")
			div
				ul.nav.navbar-nav.navbar-right(ng-show="selectedTid")
					li.btn-group.dropdown(dropdown="", is-open="status.isSortOpened", title="{{sortedLabel}}")
						button.btn.btn-default.dropdown-toggle(type="button", dropdown-toggle="", ng-disabled="disabled")
							span.icon-chevron-down
						ul.dropdown-menu(role="menu")
							li(ng-repeat="sort in sorts", ng-class="{selected: sortQuery == sort.query}")
								a(ng-click="sortThreads(sort.query)") {{sort.label}}
					li
						button.btn.btn-default(ng-click="starThread(selectedTid)")
							span.icon-star(ng-show="selectedTid && threads[selectedTid].isLabel('Starred')")
							span.icon-star-outline(ng-show="selectedTid && !threads[selectedTid].isLabel('Starred')")
					li
						button.btn.btn-default(ng-click="spamThread(selectedTid)", ng-show="labelName != 'Spam'")
							span.icon-ban
					li
						button.btn.btn-default(ng-click="deleteThread(selectedTid)")
							span.icon-trash
				form.navbar-form-alt
					.form-group
						.input-group
							label.search-icon.input-group-addon(for="top-search")
								span.icon-search
							input#top-search.search.form-control(type="text", placeholder="{{'INBOX.PLC_SEARCH' | translate}}", ng-model="searchText")
	.mail-list-group
		div.pane-status(ng-show="isLoadingSign")
			img(src="/img/loader.svg")
		div.pane-status(ng-show="!isLoadingSign && threadsList.length < 1") {{'INBOX.LB_NOTHING_FOUND' | translate}}
		div(infinite-scroll="scroll()", infinite-scroll-disabled="isLoading || isDisabled", infinite-scroll-parent="true")
			div.item-wrapper(ng-repeat="thread in threadsList | filter: searchFilter as filteredThreadsList track by thread.id", ng-class="{active: selectedTid == thread.id}", ng-click="selectThread(thread.id)")
				.mail-list-item
					.mail-list-wrapper
						.buttons.text-center
							div.icon-holder.read
								span.icon-star(ng-show="thread.isLabel('Starred') && thread.isRead")
								//- span.icon-star-outline(ng-show="!thread.isLabel('Starred')  && thread.isRead")
								span.icon-unread(ng-show="!thread.isRead && !thread.isLabel('Starred')")
							div.icon-holder.reply
								span.icon-reply
							div.icon-holder.forward
								span.icon-arrow-right
						.details
							p.strong.pack.title(ng-bind="thread.members | members", title="{{thread.members | members}}")
							p.medium.subject(ng-bind="thread.subject")
							//p.summary(ng-bind-html="thread.headerEmail.preview ? thread.headerEmail.preview.data.text : 'INBOX.NO_PREVIEW_AVAILABLE' | translate")
						.when
							span.date(ng-bind="thread.created | lavadate", title = "{{thread.created | timeAgo}}")
							.lava-icon-row
								span(ng-show="thread.attachmentsCount > 0")
									span.icon-paper-clip
								span(ng-show="thread.secure == 'all'")
									span.icon-lock
								span(ng-show="thread.secure == 'none'|| thread.secure == 'some'")
									span.icon-unlock