div.pane-status(ng-if="selectedTid === null")
	.col-xs-24 {{'INBOX.LB_NOTHING_SELECTED' | translate}}

.filters.row.no-gutter.lava-icon-row
	nav.navbar.navbar-inverse(role="navigation", ng-if="selectedTid !== null")
		div
			ul.nav.navbar-nav.navbar-right(ng-show="selectedTid !== null")
				li
					button.btn.btn-default(ng-click="showPopup('compose', {replyThreadId: selectedTid})")
						span.icon-reply
				li
					button.btn.btn-default(ng-click="showPopup('compose', {replyThreadId: selectedTid})")
						span.icon-reply-all
				li
					button.btn.btn-default
						span.icon-arrow-right
				li.spacer
					button.btn.btn-default
						span.icon-star-outline
				li
					button.btn.btn-default
						span.icon-ban
				li
					button.btn.btn-default
						span.icon-trash
div(ng-if="selectedTid !== null").main-view
	.pane-status(ng-show="isLoading")
		img(src="/img/loader.svg")
	img.logo.only-print(src="/img/Lavaboom-logo-full.svg")
	.row.no-gutter.mail(ng-repeat="email in emails")
		.col-xs-24
			header.row.no-gutter
				.col-xs-21
					//strong(ng-bind="email.fromName")
					//br
					| {{'MAIN.COMPOSE.LB_FROM' | translate}}:
					strong(ng-bind="email.fromAllPretty")
					br
					| {{'MAIN.COMPOSE.LB_TO' | translate}}:
					strong(ng-bind="email.toPretty")
					br
					| {{'MAIN.COMPOSE.LB_SUBJECT' | translate}}:
					span(ng-bind="email.subject")
				.col-xs-2.when
					span(ng-bind="email.date | timeAgo")
				.col-xs-1.secure
					a.icon-secure
			.mail-content.row.no-gutter
				.col-xs-22(ng-if="email.manifest.getPart('body').isHtml()", ng-show="email.body.state == 'ok'", email-body="email.body.data", no-image-template-url="partials/directives/noImage.html")
				.col-xs-22(ng-if="!email.manifest.getPart('body').isHtml()", ng-show="email.body.state == 'ok'")
					pre(ng-bind="email.body.data")
				.col-xs-22(ng-show="email.body.state == 'no_private_key'") {{'INBOX.LB_NO_PRIVATE_KEY_FOUND1' | translate}}
					div {{'INBOX.LB_NO_PRIVATE_KEY_FOUND2' | translate}}
						a(ui-sref="main.settings.security") {{'INBOX.LB_SETTINGS' | translate}}
						| {{'INBOX.LB_NO_PRIVATE_KEY_FOUND3' | translate}}
			footer
				.row.no-gutter
					.col-xs-8(ng-repeat="file in email.files")
						a.attachment(ui-sref=".popup.download({emailId: email.id, fileId: file.id})")
							span.fileCorner
							span(ng-bind="file.filename")
							br
							span(ng-bind="file.size | filesize")