div.pane-status(ng-if="selectedTid === null")
	.col-xs-24 {{'INBOX.LB_NOTHING_SELECTED' | translate}}

.filters.row.no-gutter.lava-icon-row(ng-class="'notifications-' + getNotificationsLength(notificationsInfo, notificationsWarning)")
	nav.navbar.navbar-inverse(role="navigation")
		div
			ul.nav.navbar-nav
				li(ng-show="selectedTid")
					button.btn.btn-default(ng-click="deleteThread(selectedTid)", tooltip="{{'INBOX.MOVE_TO_TRASH' | translate}}", tooltip-placement="bottom", tooltip-append-to-body="true")
						span.icon-trash
				li(ng-show="selectedTid && labelName != 'Spam'")
					button.btn.btn-default(ng-click="spamThread(selectedTid)", tooltip="{{'INBOX.MARK_AS_SPAM' | translate}}", tooltip-placement="bottom", tooltip-append-to-body="true")
						span.icon-ban
				li(ng-show="selectedTid")
					button.btn.btn-default(ng-click="starThread(selectedTid)", tooltip="{{'INBOX.STAR_THIS_CONVERSATION' | translate}}", tooltip-placement="bottom", tooltip-append-to-body="true")
						span.icon-star(ng-show="selectedTid && threads[selectedTid].isLabel('Starred')")
						span.icon-star-outline(ng-show="selectedTid && !threads[selectedTid].isLabel('Starred')")
				li(ng-show="selectedTid && labelName == 'Spam'")
					button.btn.btn-default(ng-click="restoreFromSpam(selectedTid)", tooltip="{{'INBOX.NOT_SPAM' | translate}}", tooltip-placement="bottom", tooltip-append-to-body="true")
						span.icon-put-back
				li(ng-show="selectedTid && labelName == 'Trash'")
					button.btn.btn-default(ng-click="restoreFromTrash(selectedTid)", tooltip="{{'INBOX.PUT_BACK' | translate}}", tooltip-placement="bottom", tooltip-append-to-body="true")
						span.icon-put-back
	include ../_notifications.jade

div(ng-if="selectedTid").main-view
	.pane-status(ng-show="isLoadingSign || emails.isLoading")
		img(src="/img/loader.svg")

	div.logo.only-print
		img(src="/img/Lavaboom-logo-gray.svg")		
	.row.no-gutter.mail(ng-repeat="email in emails.list")
		.col-xs-24
			header.row.no-gutter
				.col-xs-21
					//strong(ng-bind="email.fromName")
					//br
					div {{'MAIN.COMPOSE.LB_FROM' | translate}}:
						strong(ng-repeat="from in email.from")
							email-context-menu(email="from.address", is-open="from.isContextMenuOpened")
								a(ui-sref=".popup.compose({to: from.address})", ng-right-click="from.isContextMenuOpened = true") {{from.prettyName}}
								| {{$last ? '' : ', '}}
					div {{'MAIN.COMPOSE.LB_TO' | translate}}:
						span.medium(ng-repeat="to in email.to")
							email-context-menu(ng-if="to.address != selfEmail", email="to.address", is-open="to.isContextMenuOpened")
								a(ui-sref=".popup.compose({to: to.address})", ng-right-click="to.isContextMenuOpened = true") {{to.prettyName}}
								| {{$last ? '' : ', '}}
							span(ng-if="to.address == selfEmail") {{to.prettyName}} {{$last ? '' : ', '}}
					br
					| {{'MAIN.COMPOSE.LB_SUBJECT' | translate}}:
					span(ng-bind="email.subject")
				.col-xs-2.when
					span(ng-bind="email.date | timeAgo")
				.col-xs-1.secure
					a.icon-secure
			.mail-content.row.no-gutter
				.col-xs-22(ng-if="email.manifest.getPart('body').isHtml()", ng-show="email.body.state == 'ok'",
					email-body="email.body.data",
					no-image-template-url="partials/directives/noImage.html")
				.col-xs-22(ng-if="!email.manifest.getPart('body').isHtml()", ng-show="email.body.state == 'ok'")
					pre(ng-bind="email.body.data")
				.col-xs-22(ng-show="email.body.state == 'no_private_key'") {{'INBOX.LB_NO_PRIVATE_KEY_FOUND1' | translate}}
					div {{'INBOX.LB_NO_PRIVATE_KEY_FOUND2' | translate}}
						a(ui-sref="main.settings.security") {{'INBOX.LB_SETTINGS' | translate}}
						| {{'INBOX.LB_NO_PRIVATE_KEY_FOUND3' | translate}}
			footer(ng-show="email.files.length")
				.row.no-gutter
					.col-xs-8(ng-repeat="file in email.files")
						a.attachment(ui-sref=".popup.download({emailId: email.id, fileId: file.id})")
							span.fileCorner
							span(ng-bind="file.filename")
							br
							span(ng-bind="file.size | filesize")
			ul.nav.navbar-nav.navbar-right.navbar-right-buttons
				li(ng-show="selectedTid")
					button.btn.btn-default(ng-click="showPopup('compose', {replyThreadId: selectedTid, replyEmailId: email.id})")
						span.icon-reply
				li(ng-show="selectedTid")
					button.btn.btn-default(ng-click="showPopup('compose', {replyThreadId: selectedTid, replyEmailId: email.id})")
						span.icon-reply-all
				li(ng-show="selectedTid")
					button.btn.btn-default(ng-click="showPopup('compose', {forwardEmailId: email.id})")
						span.icon-arrow-right
